.o-cookie-bar
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  background: #EAEAEA
  +fluid-type(14px, 16px)
  line-height: 1.3
  padding: 1em 0
  transform: translateY(100%)
  transition: all 0.2s ease-out 0s
  z-index: 9999
  .o-cookie-bar--not-decided &
    transform: translateY(0)
    transition: all 0.2s ease-out 1s

.o-cookie-bar__btns
  margin-left: 20px

.o-cookie-bar__btn.c-btn
  margin-top: 0

.o-cookie-bar__txt
  p:last-child
    margin: 0

.o-cookie-bar__content
  display: flex
  justify-content: space-between
  align-items: center

.o-cookie-bar__out-wrap
  @media (min-width: $screen-sm-min)
    padding-left: 5%
    padding-right: 5%
  .o-wrap,
  .o-wrap.o-wrap--max
    @media (min-width: $screen-sm-min)
      padding-left: 0
      padding-right: 0
