.o-site-footer
  padding: 25px 0
  background: #F1F1F1
  color: #000
  @media (min-width: $screen-xs-min)
    padding-top: 50px
    padding-bottom: 50px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    padding-top: 75px
    padding-bottom: 75px
  @media (min-width: $screen-lg-min)
    padding-top: 75px
    padding-bottom: 75px
  @media (min-width: $screen-xxxl-min)
    padding-top: 125px
    padding-bottom: 125px
  .o-wrap
    @media (min-width: 1201px) and (max-width: 1680px)
      max-width: 1250px
  a
    border-bottom: none

.o-site-footer__wrapper
  font-size: 15px
  line-height: 24px
  padding-left: 10px
  padding-right: 10px
  @media (min-width: $screen-xs-min)
    padding-left: 0
    padding-right: 0
    font-size: 15px
    line-height: 23px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 16px
    line-height: 26px
  @media (min-width: $screen-lg-min)
    font-size: 16px
    line-height: 26px
  @media (min-width: $screen-xxl-min)
    font-size: 17px
    line-height: 30px

.o-site-footer__first
  @media (min-width: 520px)
    text-align: unset
    margin: 0 10px 0 0
  @media (min-width: $screen-sm-min)
    +column(281/1000)
  @media (min-width: $screen-md-min)
    +column(324/1000)
  .o-site-footer__address
    font-weight: 500
    font-size: 15px
    line-height: 23px
    margin-bottom: 25px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      font-size: 16px
      line-height: 26px
    @media (min-width: $screen-lg-min)
      font-size: 16px
      line-height: 26px
    @media (min-width: $screen-xxl-min)
      font-size: 17px
      line-height: 30px
  .o-site-footer__number
    list-style: none
    padding: 0
    margin-bottom: 25px
    @media (min-width: $screen-sm-min)
      margin-bottom: 1.5em
    .o-site-footer__number-el
      a
        text-decoration: none
    .o-site-footer__number-el:last-child
      margin-top: 4px
  .o-site-footer__opening-hr
    margin-bottom: 30px
    @media (min-width: $screen-sm-min)
      margin-bottom: 0
  .o-site-footer__address,.o-site-footer__number,
  .o-site-footer__opening-hr
    color: $color-text

.o-site-footer__second
  color: $color-text
  list-style: none
  padding: 0
  margin: 0 0 35px 0
  font-size: 15px
  line-height: 23px
  display: block
  @media (min-width: $screen-sm-min)
    +column(232/1000)
    margin-bottom: 0
  @media (min-width: $screen-md-min)
    +column(243/1000)
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 16px
    line-height: 28px
  @media (min-width: $screen-md-min)
    font-size: 16px
    line-height: 28px
  @media (min-width: $screen-xxl-min)
    font-size: 17px
    line-height: 30px
  ul
    padding-left: 0
    list-style: none
    padding: 0
  li
    margin-bottom: 5px
    a
      text-decoration: none
      text-transform: inherit
  li.current-menu-item > a
    color: $color-main

.tax-referenzen_kategorien .o-site-footer__second li.current-menu-item > a
  color: $color-text
  &:hover
    color: $color-main

.term-elektroinstallationen .o-site-footer__second li.current-menu-item.menu-item-1587 > a,
.term-lichttechnik .o-site-footer__second li.current-menu-item.menu-item-1720 > a,
.term-photovoltaik .o-site-footer__second li.current-menu-item.menu-item-1721 > a
  color: $color-main

.o-site-footer__third
  margin-bottom: 25px
  @media (min-width: $screen-sm-min)
    +column(232/1000)
    margin-bottom: 0
  @media (min-width: $screen-md-min)
    +column(245/1000)
  .o-site-footer__links
    color: $color-text
    list-style: none
    padding: 0
    .o-site-footer__links-el
      a
        text-decoration: none
  .o-site-footer__image
    img
      max-width: 150px
      @media (min-width: $screen-sm-min)
        max-width: 150px
  p
    margin-bottom: 15px
    @media (min-width: $screen-sm-min)
      margin-bottom: 25px

.o-site-footer__fourth
  @media (min-width: $screen-sm-min)
    +column(244/1000)
  @media (min-width: $screen-md-min)
    +column(188/1000)
  .o-site-footer__txt-social
    color: $color-text
    margin-bottom: 20px
    @media (min-width: $screen-sm-min)
      margin-bottom: 25px
  .o-site-footer__icons
    margin-right: 25px
    @media (min-width: $screen-sm-min)
      margin-right: 0
    @media (min-width: $screen-xl-min)
      margin-right: 25px
    a
      text-decoration: none
  .o-site-footer__icon
    max-width: 46px
    margin-right: 22px
    @media (min-width: $screen-sm-min)
      margin-right: 22px
    @media (min-width: $screen-lg-min)
      margin-right: 20px
    img
      max-width: 46px

.o-site-footer-bottom
  background: #1C952B
  padding: 20px 0 15px 0
  color: #fff
  line-height: 24px
  font-weight: 400
  @media (min-width: $screen-xs-min)
    line-height: 13px
    font-size: 15px
    padding: 20px 0 9px
  @media (min-width: $screen-sm-min)
    padding: 18px 0 18px
  @media (min-width: $screen-md-min)
    font-size: 15px
    line-height: 20px
  .o-wrap
    @media (min-width: 1201px) and (max-width: 1680px)
      max-width: 1250px

.o-site-footer-bottom__wrapper
  display: flex
  justify-content: space-between
  align-items: center
  padding-left: 10px
  padding-right: 10px
  @media (min-width: $screen-xs-min)
    padding-left: 0
    padding-right: 0

.o-site-footer-bottom__menu
  flex: 0 0 95.5%
  margin-bottom: 0
  list-style: none
  padding: 0
  font-size: 15px
  line-height: 1.4
  text-transform: uppercase
  display: inline-block
  li
    display: inline-block
    margin: 0 13px 10px 0
    @media (min-width: $screen-sm-min)
      margin: 0
      margin-right: 40px
  a
    text-decoration: none
    color: #fff
    border-bottom: none
    &:hover
      color: #BBCB32
  .current-menu-item a
    color: #BBCB32
