#site-wrapper
  position: relative
  // overflow: hidden !important
  width: 100%

#site-canvas
  width: 100%
  height: 100%
  min-height: 100vh
  position: relative
  transition: .3s ease all

// Off canvas
#site-menu
  height: 100%
  position: fixed
  top: 0
  background: $color-tertiary
  overflow-y: auto
  width: 100%
  z-index: 500
  color: #fff
  transition: all 0.3s
  transform: translateY(-100vh)
  @media screen and (min-width: $screen-sm-min)
    padding-top: 42px
    right: auto
    left: auto
    transform: translateY(-100vh)


.site-menu__wrapper
  max-width: 1100px
  margin: 79px 20px 25px
  @media (min-width: $screen-xs-min)
    margin: 61px 15px 85px 35px
  @media (min-width: $screen-sm-min)
    margin: 50px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    max-width: 1024px
    margin: 60px calc(8% + 22px) 60px calc(8% + 22px)
  @media (min-width: $screen-md-min)
    max-width: 1024px
    margin: 60px calc(8% + 22px) 60px calc(8% + 22px)
  @media (min-width: $screen-xxl-min)
    max-width: 1100px
    margin: 100px calc(10% + 60px) 50px calc(10% + 60px)
  ul
    padding-left: 0
    list-style: none
    .current-menu-item > a
      color: #fff
      &:before
        opacity: 0
      &:after
        opacity: 1
  a:hover
    color: #fff

.tax-referenzen_kategorien .site-menu__wrapper ul .current-menu-item > a
  color: $color-text
  &:before
    opacity: 1
  &:after
    opacity: 0
  &:hover
    color: #fff
    &:after
      opacity: 1
    &:before
      opacity: 0

.term-lichttechnik .site-menu__wrapper ul .current-menu-item.menu-item-1701 > a,
.term-elektroinstallationen .site-menu__wrapper ul .current-menu-item.menu-item-1702 > a,
.term-photovoltaik .site-menu__wrapper ul .current-menu-item.menu-item-1715 > a,
.term-photovoltaik .site-menu__wrapper ul .current-menu-item.menu-item-1700 > a
  color: #fff
  &:after
    opacity: 1
  &:before
    opacity: 0

.site-menu__left, .site-menu__right
  margin-bottom: 0
  @media (min-width: $screen-xs-min)
    +column(500/1000, $gutter: 0)
  @media (min-width: $screen-sm-min)
    display: block
  a
    text-decoration: none
    font-weight: 700
    text-transform: inherit
    border-bottom: none
    margin-top: 5px
    margin-bottom: 5px
    padding-top: 5px
    padding-bottom: 5px
    font-size: 19px
    line-height: 25px
    display: block
    @media (min-width: $screen-xs-min)
      margin-top: 10px
      margin-bottom: 0px
      font-size: 19px
      line-height: 25px
    @media (min-width: $screen-sm-min)
      margin: 10px auto
      padding-top: 5px
      padding-bottom: 5px
      font-size: 20px
      line-height: 24px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      margin: 10px 10px 10px 0px
      padding: 5px 0px
      font-size: 26px
      line-height: 36px
    @media (min-width: $screen-lg-min)
      margin: 10px 10px 10px 0px
      padding: 5px 0px
      font-size: 26px
      line-height: 36px
    @media (min-width: $screen-xxl-min)
      margin: 15px 15px 15px 0px
      padding: 5px 0px
      font-size: 32px
      line-height: 42px

ul.site-menu__left
  padding-left: 10px
  @media (min-width: $screen-xs-min)
    padding-left: 0
  @media screen and (min-width: $screen-sm-min)
    padding-right: 10px
    padding-left: 10px

ul.site-menu__right
  padding-left: 10px
  margin-top: 20px
  @media (min-width: $screen-xs-min)
    padding-left: 0
    margin-top: 0
  @media (min-width: $screen-sm-min)
    padding-right: 10px
    padding-left: 10px

.site-menu__info
  padding-left: 10px
  margin-top: 45px
  font-size: 15px
  line-height: 24px
  @media (min-width: $screen-xs-min)
    padding-left: 0
    font-size: 15px
    line-height: 23px
    margin-top: 41px
  @media (min-width: $screen-sm-min)
    margin-top: 100px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 16px
    line-height: 26px
    margin-top: 47px
  @media (min-width: $screen-md-min)
    font-size: 16px
    line-height: 26px
    margin-top: 47px
  @media (min-width: $screen-lg-min)
    font-size: 16px
    line-height: 26px
  @media (min-width: $screen-xxl-min)
    font-size: 17px
    line-height: 30px
    margin-top: 97px

.site-menu__info-left, .site-menu__info-right
  display: block
  @media (min-width: $screen-xs-min)
    +column(500/1000, $gutter: 0)
  @media (min-width: $screen-sm-min)
    padding-left: 10px
    padding-right: 10px
  p, li, a
    color: $color-text
    border-bottom: 0
  p
    margin-bottom: 15px
    @media (min-width: $screen-sm-min)
      margin-bottom: 15px


.site-menu__info-left
  a
    text-decoration: none
    text-transform: inherit
  ul
    margin-bottom: 15px
  li:last-child
    margin-top: 15px

.site-menu__info-right-icons
  margin-top: 30px
  li
    display: inline-block
    margin-right: 22px
    &:first-child
      padding-left: 0
    img
      height: 46px

.sub-menu
  margin-left: 0
  margin-top: 0
  padding-top: 0
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-top: 14px
  @media (min-width: $screen-lg-min)
    margin-top: 14px
  @media (min-width: $screen-xxl-min)
    margin-top: 20px
  li
    padding: 0
  a
    font-size: 17px
    line-height: 23px
    position: relative
    margin-top: 0px
    margin-bottom: 0px
    padding-top: 5px
    padding-bottom: 5px
    padding-left: 38px
    text-decoration: none
    @media (min-width: $screen-sm-min)
      font-size: 18px
      line-height: 34px
      margin-top: 0px
      margin-bottom: 0px
      padding-top: 5px
      padding-bottom: 5px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      margin-top: 6px
      margin-bottom: 6px
      padding-top: 3px
      padding-bottom: 3px
      font-size: 20px
      line-height: 30px
    @media (min-width: $screen-md-min)
      padding-left: 43px
    @media (min-width: $screen-lg-min)
      margin-top: 6px
      margin-bottom: 6px
      padding-top: 3px
      padding-bottom: 3px
      font-size: 20px
      line-height: 30px
      padding-left: 43px
    @media (min-width: $screen-xxl-min)
      margin-top: 10px
      margin-bottom: 10px
      padding-top: 3px
      padding-bottom: 3px
      font-size: 24px
      line-height: 34px
    &:before,
    &:after
      content: ''
      position: absolute
      left: 0
      top: 49%
      transform: translateY(-50%)
      background-image: url('../img/icons/icon-arrow-black.svg')
      background-repeat: no-repeat
      background-position: center
      background-size: 28px auto
      height: 33px
      width: 28px
      transition: all 0.3s
    &:after
      background-image: url('../img/icons/icon-arrow-white.svg')
      opacity: 0
    &:hover
      &:before,
      &:after
        transform: translate(5px, -50%)
      &:before
        opacity: 0
      &:after
        opacity: 1

#site-wrapper.show-nav #site-canvas
  #site-menu
    transform: translateY(0)
    @media screen and (min-width: $screen-sm-min)
      transform: translateY(0)
      right: auto

// #site-wrapper.show-nav #site-canvas,
// body.show-nav .page-wrap
//   @media screen and (max-width: $screen-xs-max)
//     transform: translateX(-270px)
//     transform: translateX(-270px) tranlateZ(0)
//     transform: translate3d(-270px, 0, 0)
//   @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max)
//     transform: translateX(-400px)
//     transform: translateX(-400px) tranlateZ(0)
//     transform: translate3d(-400px, 0, 0)

.row,
.grid,
.group,
.o-row,
.o-grid,
.o-group
  @extend %clearfix

.site-main
  padding-top: 2em
  padding-bottom: 2em
  min-height: 500px

// Class generated by WordPress which makes element full width
.o-element-align--full, .alignfull
  margin-left  : calc( -100vw / 2 + 100% / 2 )
  margin-right : calc( -100vw / 2 + 100% / 2 )
  max-width    : 100vw

.alignfull
  iframe
    width: 100%
    height: auto
    @media screen and (min-width: $screen-md-min)
      height: 500px

.o-element-align--wide,
  @media (min-width: $screen-xl-min)
    margin-left  : -80px
    margin-right : -80px

.alignwide
  max-width: 1180px
  margin-right: auto
  margin-left: auto
  iframe
    width: 100%
    height: 250px
    @media screen and (min-width: $screen-sm-min)
      height: 350px
    @media screen and (min-width: $screen-md-min)
      height: 640px

.o-element-align--none
  .o-wrap
    padding-left: 0
    padding-right: 0

.acf-block-preview .o-wrap
  min-height: 100%

.site-content
  overflow: hidden
