.o-site-header
  width: 100%
  z-index: 100
  background: transparent
  @extend %clearfix
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 600
  transition: all 0.4s ease-in-out

.o-site-header__in
  transform: translateY(-20px)
  transition: all 0.6s 0.6s ease-in-out
  opacity: 0
  .launch-first-animation &
    transform: translateY(0)
    opacity: 1

.o-site-header--hidden
  transform: translateY(-200%)

.o-site-header--green, .o-site-header--showcase
  .o-site-header__bottom
    background: $color-tertiary

.o-site-hader__wrap
  margin: 0 auto
  padding-left: 3%
  padding-right: 3%
  @media (min-width: $screen-md-min)
    padding: 0 5%

.o-site-hader__wrap-in
  max-width: 1920px
  position: relative
  margin: 0 auto

.o-site-header__logo
  display: flex
  font-weight: bold
  text-decoration: none
  opacity: 1
  transition: opacity 0.3s ease-in-out, transform 0s ease-in-out
  border-bottom: none
  &:hover
    text-decoration: none
  img,
  svg
    z-index: 300
    position: relative
    width: 175px
    height: 40px
    @media (min-width: $screen-xs-min)
      width: 203px
      height: 47px
    .icn--logo-letter
      fill: $color-main

.o-site-header__top
  color: #fff
  font-size: 15px
  line-height: 15px
  background-color: $color-main
  padding: 11px 0 11px
  z-index: 600
  position: relative
  @media (min-width: $screen-xs-min)
    padding: 9px 0 8px
  @media (min-width: $screen-sm-min)
    padding: 12px 0 12px
  & .o-site-hader__wrap-in
    display: flex
    justify-content: flex-end
    @media (min-width: $screen-xs-min)
      justify-content: space-between
  a
    color: #fff

.o-site-hader__bread
  text-transform: uppercase
  display: none
  @media (min-width: $screen-xs-min)
    display: block
  p
    margin-bottom: 0
  a
    margin-right: 10px
    display: none

.o-site-hader__info
  margin-top: -1px
  ul
    padding-left: 0
    list-style: none
    margin-bottom: 0
    li
      display: inline-block
      &:first-child
        padding-right: 17px
        @media (min-width: $screen-xs-min)
          padding-right: 30px
        @media (min-width: $screen-md-min)
          padding-right: 36px


.o-site-hader__email
  a
    text-decoration: none
    position: relative
    border-bottom: none
    &:hover
      color: #bbcb32
      &::after
        background: #bbcb32
    &:after
      content: ' '
      position: absolute
      left: 1px
      bottom: 0px
      height: 1px
      width: calc(100% - 2px)
      background: #fff
      transition: all 0.2s ease-in-out
      @media (min-width: $screen-sm-min)
        bottom: -1px

.o-site-hader__phone
  a
    text-decoration: none
    border-bottom: none
    &:hover
      color: #bbcb32

.o-site-header__bottom
  padding: 25px 0 23px
  @extend %clearfix
  position: relative
  z-index: 400
  transition: all 0.2s ease-in-out
  @media (min-width: $screen-xs-min)
    padding: 21px 0
  @media (min-width: $screen-sm-min)
    padding: 22px 0
  @media (min-width: $screen-md-min)
    padding: 27px 0

.site-menu__primary, .site-menu__info
  @extend %clearfix

.main-nav
  display: none
  @media (min-width: $screen-sm-min)
    display: inline-block
    float: right
  ul.primary-menu
    list-style: none
    padding: 0
    margin: 0
    & > li
      display: inline-block
      position: relative
      &.opened
        .sub-menu
          opacity: 1
          pointer-events: auto
          transform: translateY(0)
          left: 0
          transition: opacity 0.2s cubic-bezier(0.55, 0, 0.1, 1) 0.1s, transform 0.2s cubic-bezier(0.55, 0, 0.1, 1) 0.1s, left 0s 0s ease
        & > a:before
          width: 100%
      & > a
        display: inline-block
        padding: 0.2em 0.8em
        text-decoration: none
        border-radius: 5px
        color: $color-text
        &:hover,
        &:focus
          text-decoration: none
          color: $color-main
      &.menu-item-has-children
        & > a
          padding-right: 1.5em
          &:after
            content: ' '
            position: absolute
            right: 5px
            top: 50%
            margin-top: -2px
            width: 0
            height: 0
            border-style: solid
            border-width: 5px 5px 0 5px
            border-color: #222 transparent transparent transparent
      &.current-menu-item > a,
      &.current_page_parent > a
        color: #fff
    .sub-menu
      position: absolute
      top: auto
      left: -10000px
      background: #fff
      margin: 0
      padding: 6px 0 10px 0
      list-style: none
      line-height: 1.2
      box-shadow: 1.4px 1.4px 6px rgba(2, 2, 3, 0.16)
      border-radius: 0
      z-index: 999
      transform: translateY(10px)
      opacity: 0
      pointer-events: none
      text-align: left
      font-size: 0.8rem
      font-weight: normal
      transition: left 0.5s 0.5s ease-in-out, opacity 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1), transform 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1)
      width: auto
      @media screen and (min-width: $screen-md-min)
        font-size: 1rem
      @media screen and (min-width: $screen-lg-min)
        font-size: 1.08rem
      li
        display: block
      a
        display: block
        text-decoration: none
        font-weight: normal
        padding: 0.5em 1em
        white-space: nowrap
      li.current-menu-item a,
      a:hover
        color: $color-main

.mob-menu
  list-style: none
  margin: 0
  padding: 0
  li
    display: block
  a
    display: block
    color: $color-text
    border-bottom: 1px solid #222
    padding: 0.5em 1em
    background: $color-tertiary
    text-decoration: none
    &:hover
      text-decoration: none
      background: lighten($color-tertiary, 10%)
  li.current-menu-item a
    background: darken($color-tertiary, 10%)
    color: #fff
  li.menu-item-has-children
    & > a
      position: relative
      &:after
        content: ' '
        position: absolute
        right: 10px
        top: 50%
        margin-top: -2px
        width: 0
        height: 0
        border-style: solid
        border-width: 5px 5px 0 5px
        border-color: #fff transparent transparent transparent
  .sub-menu
    margin: 0
    padding: 0
    a
      padding-left: 2em
  @media screen and (min-width: $screen-sm-min)
    display: none

.toggle-nav
  position: absolute
  right: 0
  top: 49px
  width: 70px
  height: 40px
  padding: 0
  z-index: 600
  background: none
  text-indent: -9999px
  text-align: center
  border: 0
  cursor: pointer
  @media (min-width: $screen-xs-min)
    top: 46px
  @media (min-width: $screen-sm-min)
    top: 52px
  @media (min-width: $screen-md-min)
    top: 54px
  &:focus
    outline: none
  &:hover
    background: none
  span:nth-child(2)
    transition: all .2s ease-in-out
  span
    width: 58px
    height: 6px
    background: #fff
    display: inline-block
    position: absolute
    right: 0
    top: 50%
    margin-left: -35px
    margin-top: -2px
    transition: all .3s ease-in-out
    opacity: 1
  span:first-child
    margin-top: auto
    top: 6px
    width: 70px
  span:last-child
    margin-top: 0
    top: 30px
    width: 35px

.show-nav
  //height: 100vh
  //overflow: hidden
  .toggle-nav
    .icon-bar:nth-child(2)
      width: 0px
    .icon-bar:first-child
      opacity: 1
      display: block
      top: 24px
      width: 50px
      transform: rotate(45deg)
    .icon-bar:last-child
      opacity: 1
      display: block
      transform: rotate(-45deg)
      top: 24px
      width: 50px
  .o-site-header__bottom
    padding-bottom: 0
    padding-top: 0
  .o-site-header__logo
    transform: translateX(-1000px)
    opacity: 0
    transition: opacity 0.1s ease-in-out, transform 0s ease-in-out 2s

.browserupgrade
  text-align: center
  margin: 0 auto
  background: #FC0
  color: #000
  padding: .8em 0
  font-size: 14px
  a
    color: darken(#FC0, 25%)
    text-decoration: underline
    &:hover
      text-decoration: none

.site-content-showcase
  padding-top: 160px
  @media (min-width: $screen-sm-min)
    padding-top: 180px
  @media (min-width: $screen-xxl-min)
    padding-top: 200px

#breadcrumbs
  a
    text-decoration: none
    position: relative
    &:after
      content: ' '
      position: absolute
      left: 1px
      bottom: -1px
      height: 1px
      width: calc(100% - 2px)
      background: #fff
      transition: .2s ease-in-out
