// Scroll to top element
.o-scroll-to-top
  color: #fff
  display: flex
  transition: all 0.6s ease
  background: $brand-primary
  color: #fff
  text-decoration: none
  text-align: center
  z-index: 400
  width: 50px
  transition: all 0.5s cubic-bezier(0.23, 0.3, 0.24, 1.18)
  font-size: 30px
  cursor: pointer
  width: 50px
  height: 23px
  margin-top: 7px
  border-bottom: none
  @media (min-width: $screen-xs-min)
    margin-top: -11px
  @media (min-width: $screen-sm-min)
    margin-top: 0
  svg
    width: 50px
    height: 23px
    fill: #fff
    @media (min-width: $screen-sm-min)
      width: 50px
  &:hover
    color: #fff
    text-decoration: none

.svg-test
  svg
    width: 90px
    height: 90px
