{% extends '_layouts/_main' %}

{% block main %}
  {% for block in entry.blocks.all() %}
    {% set loopIndex = loop.index %}

    {% switch block.type %}
      {% case "hero" %}
        {% include '_blocks/_hero' %}
      {% case "largeHeader" %}
        {% include '_blocks/_largeHeader' %}
      {% case "textGreenBox" %}
        {% include '_blocks/_textGreenBox' %}
      {% case "greenBox" %}
        {% include '_blocks/_greenBox' %}
    {% endswitch %}

  {% endfor %}

{% endblock %}
