/**
  * Font Face
  * Use local fonts to avoid GDPR problems and improve performance
  * Google fonts can be found here: https://google-webfonts-helper.herokuapp.com/fonts
  * Remember to add font-display: swap to generate FOUT
 */

@font-face
  font-family: 'Barlow'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Barlow Regular'), local('Barlow-Regular'), url('../fonts/barlow-v4-latin-regular.woff2') format('woff2'), url('../fonts/barlow-v4-latin-regular.woff') format('woff')

@font-face
  font-family: 'Barlow'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: local('Barlow Medium'), local('Barlow-Medium'), url('../fonts/barlow-v4-latin-500.woff2') format('woff2'), url('../fonts/barlow-v4-latin-500.woff') format('woff')

// @font-face
//   font-family: 'Barlow'
//   font-style: normal
//   font-weight: 600
//   font-display: swap
//   src: local('Barlow SemiBold'), local('Barlow-SemiBold'), url('../fonts/barlow-v4-latin-600.woff2') format('woff2'), url('../fonts/barlow-v4-latin-600.woff') format('woff')

@font-face
  font-family: 'Barlow'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: local('Barlow Bold'), local('Barlow-Bold'), url('../fonts/barlow-v4-latin-700.woff2') format('woff2'), url('../fonts/barlow-v4-latin-700.woff') format('woff')

@font-face
  font-family: 'Barlow'
  font-style: normal
  font-weight: 800
  font-display: swap
  src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'), url('../fonts/barlow-v4-latin-800.woff2') format('woff2'), url('../fonts/barlow-v4-latin-800.woff') format('woff')

@font-face
  font-family: 'Barlow'
  font-style: normal
  font-weight: 900
  font-display: swap
  src: local('Barlow Black'), local('Barlow-Black'), url('../fonts/barlow-v4-latin-900.woff2') format('woff2'), url('../fonts/barlow-v4-latin-900.woff') format('woff')
