.u-element-mt-0
  margin-top: 0

.u-element-mb-0
  margin-bottom: 0

.u-element-m-0
  margin: 0

.u-element-pt-0
  padding-top: 0

.u-element-pb-0
  padding-bottom: 0

.u-element-p-0
  padding: 0

.u-element-padding-left-45
  @media (min-width: $screen-sm-min)
    padding-left: 45px

.u-standard-block-spacing
  margin-top: 0
  margin-bottom: 35px
  @media (min-width: $screen-sm-min)
    margin-bottom: 50px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-bottom: 50px
  @media (min-width: $screen-lg-min)
    margin-bottom: 75px
  @media (min-width: $screen-xxl-min)
    margin-bottom: 125px

.u-grid-block-spacing
  margin-top: 0
  margin-bottom: 0
  @media (min-width: $screen-xs-min)
    margin-bottom: 0

.o-wrap--default .u-wrap-additional-padding
  padding-left: 10px
  padding-right: 10px
  @media (min-width: $screen-xs-min)
    padding-left: 15px
    padding-right: 15px
  @media (min-width: $screen-sm-min)
    padding-left: 25px
    padding-right: 25px
  @media (min-width: $screen-md-min)
    padding-left: 45px
    padding-right: 45px

.u-modified-margin-top
  .c-title--large,
  .b-img-in-wrap,
  .u-standard-block-spacing
    margin-top: 0

.u-modified-margin-bottom
  .c-title--large,
  .b-img-in-wrap,
  .u-standard-block-spacing
    margin-bottom: 0
