.u-text-size-xsmall
  +fluid-type(11px, 13px)
  line-height: 1.75

.u-text-size-small
  +fluid-type(13px, 15px)
  line-height: 1.6

.u-text-size-large
  +fluid-type(17px, 21px)
  line-height: 1.57

.u-text-size-xlarge
  +fluid-type(24px, 29px)
  line-height: 1.41

.u-text-size-lg,
.term-php #edittag .form-table > tbody > tr > td .u-text-size-lg p
  line-height: 26px
  font-size: 17px
  @media (min-width: $screen-xs-min)
    font-size: 17px
    line-height: 23px
  @media (min-width: $screen-sm-min)
    font-size: 17px
    line-height: 27px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 18px
    line-height: 26px
  @media (min-width: $screen-lg-min)
    font-size: 18px
    line-height: 26px
  @media (min-width: $screen-xxl-min)
    font-size: 24px
    line-height: 38px

.u-text-size-lg-bold
  margin-bottom: 10px
  font-size: 20px
  line-height: 26px
  font-weight: 700
  margin-bottom: 0
  @media (min-width: $screen-xs-min)
    font-size: 20px
    line-height: 28px
  @media (min-width: $screen-sm-min)
    font-size: 18px
    line-height: 30px
  @media (min-width: $screen-md-min)
    font-size: 22px
    line-height: 36px
  @media only screen and (max-device-width: $screen-xs-max) and (orientation: landscape)
    font-size: 22px
    line-height: 32px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 22px
    line-height: 32px
    font-weight: 700
  @media (min-width: $screen-lg-min)
    font-size: 22px
    line-height: 36px
  @media (min-width: $screen-xxl-min)
    font-size: 32px
    line-height: 46px

.u-text-size-md
  font-size: 17px
  line-height: 25px
  margin-bottom: 0
  @media (min-width: $screen-xs-min)
    line-height: 23px
    font-size: 17px
  @media (min-width: $screen-sm-min)
    font-size: 17px
    line-height: 25px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 18px
    line-height: 26px
  @media (min-width: $screen-lg-min)
    font-size: 18px
    line-height: 26px
  @media (min-width: $screen-xxl-min)
    font-size: 22px
    line-height: 34px

.u-text-size-sm
  margin-bottom: 0
  font-size: 16px
  line-height: 26px
  @media (min-width: $screen-xs-min)
    font-size: 15px
    line-height: 25px
  @media (min-width: $screen-sm-min)
    font-size: 15px
    line-height: 25px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 17px
    line-height: 27px
  @media (min-width: $screen-lg-min)
    font-size: 17px
    line-height: 27px
  @media (min-width: $screen-xxl-min)
    font-size: 19px
    line-height: 29px

.u-text-size-preface,
.c-title--preface
  font-size: 18px
  line-height: 26px
  margin-bottom: 10px
  font-weight: 500
  @media (min-width: $screen-xs-min)
    font-size: 20px
    line-height: 28px
  @media (min-width: $screen-sm-min)
    font-size: 22px
    line-height: 30px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 22px
    line-height: 32px
  @media (min-width: $screen-md-min)
    margin-bottom: 25px
  @media (min-width: $screen-lg-min)
    font-size: 22px
    line-height: 32px
  @media (min-width: $screen-xxl-min)
    font-size: 28px
    line-height: 42px
    margin-bottom: 25px
  p:last-child
    margin-bottom: 0
