.block-preview
  text-align: left
  padding: 10px

// Settings
@import 'settings/**/*'

// Tools
@import 'tools/**/*'
@import '../../node_modules/object-fit-images/preprocessors/mixin.sass' // Object fit mixin
@import '../../node_modules/jeet/scss/index.scss' // Grid mixins

// Generic
@import 'generic/font-face'

.block-preview
  @import 'generic/box-sizing'
  @import 'generic/normalize'

// Elements
.block-preview,
#poststuff .block-preview,
#poststuff .stuffbox .block-preview
  @import 'elements/blockquote'
  @import 'elements/document'
  @import 'elements/document'
  @import 'elements/headers'
  @import 'elements/inputs'
  @import 'elements/links'
  @import 'elements/lists'
  @import 'elements/media'
  @import 'elements/paragraphs'
  @import 'elements/pre'
  @import 'elements/tables'
  font-family: $font-main
  h2
    padding: 0
    margin: inherit
    line-height: inherit
  p, ul, ol
    margin: inherit
    margin-top: 0
    margin-bottom: $size-block-el-bottom-margin
    font-family: $font-main
    font-size: $size-text-max
    color: $color-text
    font-weight: $font-weight-standard
    line-height: 26px
    font-size: 17px
    @media (min-width: $screen-xs-min)
      font-size: 17px
      line-height: 23px
    @media (min-width: $screen-sm-min)
      font-size: 17px
      line-height: 27px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      font-size: 18px
      line-height: 26px
    @media (min-width: $screen-lg-min)
      font-size: 18px
      line-height: 26px
    @media (min-width: $screen-xxl-min)
      font-size: 24px
      line-height: 38px
  ul
    list-style: disc
    padding: inherit
    margin: inherit
    padding-left: 1.65em
  ol
    padding-left: 1.65em
  .b-expandable-text .c-title,
  .b-teaser-large .c-title
    margin-left: 0
  .b-teaser-large__count
    color: $color-text

// Objects
@import '../../node_modules/bootstrap/scss/bootstrap-grid' // Grid

.block-preview,
#poststuff .block-preview,
#poststuff .stuffbox .block-preview
  @import 'objects/global-layout'
  @import 'objects/grid'
  @import 'objects/wrapers'
  .o-wrap,
  .wrap,
  .o-wrap.o-wrap--wide,
  .o-wrap.o-wrap--extra-wide
    // padding-left: 0
    // padding-right: 0

// Components
@import '../../node_modules/leaflet/dist/leaflet' // Maps
@import '../../node_modules/slick-carousel/slick/slick.scss' // Carousel
@import '../../node_modules/swiper/css/swiper.css' // Swiper
@import '../../node_modules/lightgallery/src/sass/lightgallery' // Light Gallery

.block-preview,
#poststuff .block-preview,
#poststuff .stuffbox .block-preview
  @import 'components/accordion'
  @import 'components/buttons'
  @import 'components/green-box'
  @import 'components/horizontal-line'
  @import 'components/link'
  @import 'components/map'
  @import 'components/meta'
  @import 'components/pagination'
  @import 'components/spacer'
  @import 'components/teaser-mini'
  @import 'components/title'
  @import 'utilities/spacers'

// utilities
@import 'utilities/**/**'

// Blocks

.block-preview,
#poststuff .block-preview,
#poststuff .stuffbox .block-preview
  // Large Header
  @import 'blocks/large-header'
  // Showcase
  @import 'blocks/showcase'
  .b-showcase__header
    margin: -10px
    opacity: 1
    transform: translate(0)
  .b-showcase__bg-img
    opacity: 1
  .lds-rolling
    display: none
  // Text + Green Box
  @import 'blocks/text-green-box'
  // Teaser Large
  @import 'blocks/teaser-large'
  // Gallery Grid
  @import 'blocks/gallery-grid'
  // Expandable Text
  @import 'blocks/expandable-text'
  // Grid Image + Text
  @import 'blocks/grid-text-image'
  // Content in box
  @import 'blocks/content-in-box'
  // Gallery
  @import 'blocks/gallery'
  // Team
  @import 'blocks/team-teaser'
  // Teaser Horizontal
  @import 'blocks/teaser-horizontal'
  // Big green centered text
  @import 'blocks/big-green-sentered-text'

.u-block-disabled
  position: relative
  &:after
    content: 'Block disabled' !important
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    background: #000
    padding: 10px 20px
    color: #fff
    font-size: 26px
    border-radius: 5px
    z-index: 20
    box-shadow: 0 0 10px rgba(0,0,0,0.3)
  &:before
    content: ' '
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(255,255,255, 0.7)
    z-index: 10

.acf-input .acf-range-wrap input[type="number"]
  min-width: 5em
