// Settings
@import 'settings/**/*'

// Tools
@import 'tools/**/*'
@import '../../node_modules/object-fit-images/preprocessors/mixin.sass' // Object fit mixin
@import '../../node_modules/jeet/scss/index.scss' // Grid mixins

// Generic
@import 'generic/**/*'

// Elements
@import 'elements/**/*'

// Objects
@import '../../node_modules/bootstrap/scss/bootstrap-grid' // Grid

body
  padding: 10px !important

body#tinymce
  font-family: $font-main
  color: $color-text
  font-weight: $font-weight-standard
  background: $color-site-background
  line-height: 26px
  font-size: 17px
  @media (min-width: $screen-xs-min)
    font-size: 17px
    line-height: 23px
  @media (min-width: $screen-sm-min)
    font-size: 17px
    line-height: 27px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 18px
    line-height: 26px
  @media (min-width: $screen-lg-min)
    font-size: 18px
    line-height: 26px
  @media (min-width: $screen-xxl-min)
    font-size: 24px
    line-height: 38px
