/*!
 * Project: Licht und Wärme
 */

/**
 * This is where all of the stylesheets are compiled.
 * They are processed in the order they are imported
 * to ensure the consistent increase of specificity.
 *
 *    ITCSS Methodology: Inverted Triangle CSS
 *
 *    **************   1. Settings
 *     ************    2. Tools
 *      **********     3. Generic
 *       ********      4. Elements
 *        ******       5. Objects
 *         ****        6. Components & Blocks
 *          **         7. Utilities
 *
 * 1. Settings..............Global configuration and variables.
 * 2. Tools.................Functions and mixins.
 * 3. Generic...............Ground zero styles.
 *                          (normalizing.css, box-sizing etc...)
 * 4. Elements..............Unclassed (bare) HTML element
 *                          (like H1, Ul, A etc...)
 * 5. Objects...............Common non-cosmetic structural design patterns.
 *                          e.g containers, rows, grids, colums etc...
 * 6. Components & Blocks...Specific cosmetic elements of UI.
 *                          e.g. buttons, forms, header, footer etc...
 * 7. Utilities.............Helpers and overrides.
 *
 *    Modules...............Multi-part components.
 *                          e.g. Navbar (HTML, CSS and JS).
 *    Shame.................All the CSS, hacks and things we are not proud of.
 */

// Settings
@import 'settings/**/*'

// Tools
@import 'tools/**/*'
@import '../../node_modules/object-fit-images/preprocessors/mixin.sass' // Object fit mixin
@import '../../node_modules/jeet/scss/index.scss' // Grid mixins

// Generic
@import 'generic/**/*'

// Elements
@import 'elements/**/*'

// Objects
@import '../../node_modules/bootstrap/scss/bootstrap-grid' // Grid
@import 'objects/**/*'

// Components
@import 'components/**/*'
@import '../../node_modules/magnific-popup/src/css/main' // Lightbox
@import '../../node_modules/leaflet/dist/leaflet' // Maps
@import '../../node_modules/aos/src/sass/aos' // Animations
@import '../../node_modules/slick-carousel/slick/slick.scss' // Carousel
@import '../../node_modules/swiper/css/swiper' // Swiper

@import '../../node_modules/lightgallery/src/sass/lightgallery' // Light Gallery


//@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome' // Font awesome
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid' // Font awesome

// Blocks
@import 'blocks/**/*'

// Utilities
@import 'utilities/**/*'

// Pages
@import 'pages/**/*'

.div-anprechpartner
  margin-top: 25px
  margin-bottom: 0 !important
  @media (min-width: $screen-sm-min)
    margin-top: 45px
  div, p
    margin-bottom: 0
  .txt-sm
    font-size: 16px
    line-height: 26px
    margin-bottom: 0px
    @media (min-width: $screen-xs-min)
      font-size: 15px
      line-height: 25px
    @media (min-width: $screen-md-min)
      font-size: 15px
      line-height: 25px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      font-size: 17px
      line-height: 27px
    @media (min-width: $screen-lg-min)
      font-size: 17px
      line-height: 27px
    @media (min-width: $screen-xxl-min)
      font-size: 19px
      line-height: 35px
  .txt-team-name
    font-size: 16px
    line-height: 26px
    font-weight: 700
    text-transform: uppercase
    @media (min-width: $screen-xs-min)
      font-size: 15px
      line-height: 23px
    @media (min-width: $screen-sm-min)
      font-size: 15px
      line-height: 25px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      font-size: 16px
      line-height: 26px
    @media (min-width: $screen-md-min)
      font-size: 16px
      line-height: 26px
    @media (min-width: $screen-lg-min)
      font-size: 16px
      line-height: 26px
    @media (min-width: $screen-xxl-min)
      font-size: 19px
      line-height: 29px
  .link-txt.sm
    font-size: 16px
    line-height: 18px
    top: -3px
    position: relative
    @media (min-width: $screen-xs-min)
      font-size: 15px
      line-height: 17px
    @media (min-width: $screen-sm-min)
      font-size: 15px
      line-height: 17px
      top: -2px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      font-size: 18px
      line-height: 20px
    @media (min-width: $screen-md-min)
      font-size: 18px
      line-height: 20px
    @media (min-width: $screen-lg-min)
      font-size: 18px
      line-height: 20px
    @media (min-width: $screen-xxl-min)
      font-size: 19px
      line-height: 21px
      top: -6px
  .div-master-of-light
    margin-top: 7px
    margin-bottom: 0 !important
    @media (min-width: $screen-sm-min)
      margin-top: 12px
    div
      margin-bottom: 0 !important
  .txt-sm.sm
    font-size: 14px
    line-height: 24px
    @media (min-width: $screen-xs-min)
      font-size: 15px
      line-height: 25px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      font-size: 17px
      line-height: 27px
    @media (min-width: $screen-md-min)
      font-size: 17px
      line-height: 27px

.link-txt.sm
  font-size: 16px
  line-height: 18px
  margin-top: 3px
  border-bottom: 0
  position: relative
  @media (min-width: $screen-xs-min)
    font-size: 15px
    line-height: 17px
  @media (min-width: $screen-sm-min)
    font-size: 15px
    line-height: 17px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-top: 2px
    font-size: 18px
    line-height: 20px
  @media (min-width: $screen-md-min)
    margin-top: 2px
    font-size: 18px
    line-height: 20px
  @media (min-width: $screen-lg-min)
    margin-top: 2px
    font-size: 18px
    line-height: 20px
  @media (min-width: $screen-xxl-min)
    margin-top: 3px
  &:hover
    &:after
      background: $color-main
  &:after
    content: ' '
    position: absolute
    left: 0
    bottom: 0px
    width: 100%
    height: 1px
    background: $color-text
    transition: all 0.2s ease-in-out

.site-content #block-id-5d972d1334fbc
  @media (min-width: 1024px) and (max-width: 1280px)
    margin-top: 0

.eapps-instagram-feed-content
  a:after
    display: none
