.c-teaser
  margin-bottom: 48px
  @media screen and (min-width: $screen-sm-min)
    margin-bottom: 75px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-bottom: 75px
  @media (min-width: $screen-xxl-min)
    margin-bottom: 100px
  button
    text-transform: uppercase

.c-teaser__wrap
  padding-left: 10px
  padding-right: 10px
  margin-bottom: 48px
  @media (min-width: $screen-xs-min)
    padding-left: 0
    padding-right: 0

.c-teaser__image
  position: relative
  margin-bottom: 10px
  @media (min-width: $screen-sm-min)
    margin-bottom: 20px

.c-teaser__img-lnk
  position: relative
  display: block
  border-bottom: none
  img
    width: 100%

.c-teaser__img-lnk:after
  content: ''
  position: absolute
  bottom: 15px
  right: 20px
  height: 29px
  width: 37px
  background-image: url('../img/icons/icon-gallery.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.c-teaser__title
  font-weight: 800
  margin-bottom: 10px
  margin-top: 0px
  font-size: 18px
  line-height: 26px
  @media (min-width: $screen-sm-min)
    font-size: 20px
    line-height: 28px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 22px
    line-height: 30px
  @media (min-width: $screen-lg-min)
    font-size: 22px
    line-height: 30px
  @media (min-width: $screen-xxl-min)
    font-size: 30px
    line-height: 42px

.c-teaser__title
  .c-title
    +fluid-type(20px, 31px)
    line-height: 1.35
    margin-bottom: 0.45em

.c-teaser__text,
.c-teaser__text__expand
  p:last-child
    margin-bottom: 0

.hide
  display: none

.c-teaser__text__expand
  display: none

.show-more--active .show
  display: none

.show-more--active .hide
  display: block

.lg-toolbar .lg-icon
  color: $color-text !important

.lg-toolbar .lg-icon:hover
  color: $color-main !important

.lg-backdrop
  background-color: #fff !important

.lg-thumb-item.active > img
  opacity: 0.5 !important

.c-teaser__content
  @media (min-width: $screen-lg-min)
    width: 90%
