<div class="o-wrap o-wrap--<?php the_sub_field('block_width'); ?>">
  <div class="c-green-box u-standard-block-spacing">
    <{{block.largeHeaderTag}} class="c-box__txt-above">
      {{block.largeHeader}}
    </{{block.largeHeaderTag}}>

      <{{block.headerTag}} class="c-box__txt">
        {{block.header}}
      </{{block.headerTag}}>

      {% if block.readMoreText and block.readMoreLink %}
        <a href="{{block.readMoreLink.one().url}}" class="c-btn c-btn--white">{{block.readMoreText}}</a>
      {% endif %}

  </div>
</div>
