<div class="b-showcase b-showcase--{{ block.heroHeight }} {% if craft.app.request.isPreview %}b-showcase--no-loader{% endif %}">
  <div class="b-showcase__wrap">
    <div class="b-showcase__wrap-in">
      <div class="b-showcase__cnt">
        <{{ block.textHtmlTag }} class="b-showcase__header">
          {{ block.text }}
        </{{ block.textHtmlTag }}>
      </div>
      {% if block.overlay %}
        <div class="b-showcase__overlay" style="opacity: {{ block.overlayOpacity }}; background-color: {{ block.overlayColor }};"></div>
      {% endif %}
    </div>
  </div>
  {% set image = block.backgroundImage.one() %}
  {% if image %}
      <img src="{{ image.getUrl() }}" width="{{ image.getWidth() }}" height="{{ image.getHeight() }}" alt="{{ image.title }}" class="b-showcase__bg-img">
  {% endif %}
  <div style="width:100%;height:100%" class="lds-rolling"><div></div></div>
</div>
