<div class="b-large-header">
  <div class="o-wrap">
    <div class="b-large-header__wrap">
      <{{block.headerTag}} class="c-title c-title--max-width-80-percent c-title--large"{% if block.headerId %} id="{{block.headerId}}"{% endif %}>
        {{ block.header }}
      </{{block.headerTag}}>
    </div>
  </div>
</div>
