<div class="b-text-green-box u-standard-block-spacing">
  <div class="o-wrap o-wrap--without-right-padding">
    <div class="b-text-green-box__wrapper">
      <div class="b-text-green-box__text u-text-size-lg">
        <div class="b-text-green-box__text-in">
          {{block.text}}
        </div>
      </div>
      <div class="b-text-green-box__right">
        <div class="c-green-box c-green-box--light">
          <div class="c-box__txt c-box__txt--title u-text-size-lg-bold">
            {{block.greenBoxText}}
          </div>

          {% if block.loadMoreText and block.loadMoreLink %}
            <a href="{{block.loadMoreLink.one().url}}" class="c-btn">{{block.loadMoreText}}</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
