.c-title
  line-height: $size-line-height-header
  font-family: $font-header
  color: $color-headers
  font-weight: $font-weight-header
  margin-bottom: 1em
  margin-top: 1.5em
  +fluid-type(20px, 29px)
  &:first-child
    margin-top: 0

.c-title--xxsmall
  +fluid-type(14px, 18px)

.c-title--xsmall
  +fluid-type(17px, 21px)

.c-title--small
  +fluid-type(18px, 24px)

.c-title--large
  +fluid-type(26px, 40px)

.c-title--xlarge
  +fluid-type(28px, 53px)
