.cnt-cols__cnt .c-btn,
.c-btn
  font-family: $font-main
  display: inline-block
  color: $color-text
  cursor: pointer
  border-radius: 0
  text-decoration: none
  font-weight: 500
  text-transform: uppercase
  letter-spacing: normal
  padding: 0
  transition: all 0.2s ease-in-out
  position: relative
  border: 0
  border-bottom: 1px solid $color-text
  margin-top: 15px
  font-size: 12px
  line-height: 14px
  background: none
  @media (min-width: $screen-xs-min)
    font-size: 13px
    line-height: 15px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 14px
    line-height: 16px
    margin-top: 25px
  @media (min-width: $screen-lg-min)
    font-size: 14px
    line-height: 16px
    margin-top: 25px
  @media (min-width: $screen-xxl-min)
    font-size: 15px
    line-height: 17px
  &:hover,
  &.btn--hover
    color: $color-main
    border-bottom-color: $color-main
  &:focus,
  &:active,
  &:active:focus
    outline: none
  &[disabled]
    background: #ccc
    color: #000
  &:after
    display: none

.c-btn--cookie
  padding: 0.3em 0.8em 0.3em 0.8em
  +fluid-type(16px, 18px)
  margin: 0 5px 5px 0

.c-btn--mini
  padding: 0.1em 0.4em
  +fluid-type(12px, 13px)


.c-align--center
  @media (min-width: $screen-xs-min)
    text-align: center

.c-btn--white
  color: #fff
  border-bottom-color: #fff
  &:hover
    color: #BBCB32
    border-bottom-color: #BBCB32
  &::after
    background: #fff

.contact-box
  .c-btn
    font-size: 16px
    line-height: 18px
    font-weight: 400
    margin-top: 0px
    margin-bottom: 0
    text-transform: none
    border-bottom: 1px solid $color-text
    @media (min-width: $screen-sm-min)
      font-size: 17px
      line-height: 19px
    @media (min-width: $screen-md-min)
      font-size: 18px
      line-height: 20px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      font-size: 18px
      line-height: 20px
    @media (min-width: $screen-xxl-min)
      font-size: 24px
      line-height: 25px
    &:after
      display: none
