.c-green-box
  background-color: #1c952b
  margin: 0 auto
  padding: 20px 10px 18px 10px
  @media (min-width: $screen-xs-min)
    padding: 25px 15px 23px 15px
  @media screen and (min-width: $screen-sm-min)
    padding: 25px 25px 22px 25px
  @media (min-width: $screen-md-min)
    padding: 45px 45px 42px 45px
  .u-text-size-lg-bold
    margin-bottom: 10px
    @media (min-width: $screen-xs-min)
      margin-bottom: 0

.c-box__txt-above
  color: #fff
  font-weight: 500
  margin-bottom: 10px
  font-size: 18px
  line-height: 26px
  @media (min-width: $screen-xs-min)
    font-size: 17px
    line-height: 27px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 22px
    line-height: 32px
    margin-bottom: 20px
  @media screen and (min-width: $screen-lg-min)
    margin-bottom: 20px
    font-size: 22px
    line-height: 32px
  @media (min-width: $screen-xxl-min)
    margin-bottom: 25px
    font-size: 24px
    line-height: 34px

.c-box__txt
  color: #fff
  margin-bottom: 10px
  font-size: 20px
  line-height: 26px
  font-weight: 700
  @media (min-width: $screen-xs-min)
    font-size: 24px
    line-height: 32px
    font-weight: 800
    margin-bottom: 0
  @media screen and (min-width: $screen-sm-min)
    font-size: 28px
    line-height: 38px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-bottom: 0px
    font-size: 36px
    line-height: 48px
  @media (min-width: $screen-lg-min)
    margin-bottom: 0px
    font-size: 36px
    line-height: 48px
  @media (min-width: $screen-xxl-min)
    font-weight: 800
    font-size: 48px
    line-height: 60px
    margin-bottom: 0

.c-green-box--light
  background-color: #e2f1e4
  padding: 20px 10px 18px 10px
  width: 100%
  @media (min-width: $screen-xs-min)
    padding: 25px 15px 23px 15px
  @media screen and (min-width: $screen-sm-min)
    padding: 25px 25px 22px 25px
  @media screen and (min-width: $screen-md-min)
    padding: 25px 45px 22px 45px
  @media screen and (min-width: $screen-lg-min)
    padding: 25px 45px 22px
    margin-bottom: 0
  @media (min-width: $screen-xxl-min)
    padding: 45px 45px 40px

.c-box__txt--title
  color: $color-text
  margin-bottom: 10px
  @media screen and (min-width: $screen-sm-min)
    margin-bottom: 10px
