.c-link__hide
  display: none
  .c-link__hide-first
    +fluid-type(17px, 24px)
    line-height: 1.6
    margin-bottom: 45px
  .c-link__hide-second
    +fluid-type(16px, 19px)
    line-height: 1.55
    .c-link__details
      list-style: none
      padding: 0
      a
        text-decoration: none
        +fluid-type(16px, 19px)
        text-transform: none
    .c-link__subtext
      +fluid-type(16px, 17px)
      line-height: 1.45
