.c-map
  height: 200px
  @media (min-width: $screen-xs-min)
    height: 300px
  @media screen and (min-width: $screen-sm-min)
    height: 350px
  @media (min-width: $screen-xxl-min)
    height: 585px
