.b-meta
  padding-top: 2px
  margin-bottom: 33px
  @media (min-width: $screen-sm-min)
    margin-bottom: 45px
  a
    display: block
    text-transform: capitalize
    font-weight: 500
    text-decoration: none
    position: relative
    margin-top: 13px
    margin-right: 16px
    font-size: 15px
    line-height: 17px
    @media screen and (min-width: $screen-sm-min)
      display: block
      font-size: 16px
      line-height: 18px
      margin-top: 25px
    @media screen and (min-width: $screen-md-min)
      line-height: 19px
      font-size: 17px
      margin-top: 25px
      margin-right: 20px
    &:hover
      color: $color-main
      border-bottom-color: $color-main
    &.b-meta__active-item
      color: $color-main
      border-bottom: 0

.b-meta__list
  list-style: none
  padding: 0
  margin: 0
  li
    display: inline-block
