.c-pagination
  text-align: center
  margin-top: -15px !important
  @media (min-width: $screen-xs-min)
    margin-top: -15px !important
  @media (min-width: $screen-sm-min)
    margin-top: 0 !important
  .page-numbers
    display: inline-block
    text-align: center
    margin-left: 10px
    margin-right: 10px
    padding: 0
    text-decoration: none
    color: $color-text
    font-weight: 500
    background: #fff
    transition: all 0.2s ease-in-out
    position: relative
    border-radius: 0
    font-size: 15px
    line-height: 17px
    border-bottom: 1px solid $color-text
    @media (min-width: $screen-sm-min)
      line-height: 18px
      font-size: 17px
    &:hover
      color: $color-main
    &.active,
    &.current
      color: $color-main
      border-bottom: 0
      &::after
        background: $color-main
    &:hover
      color: $color-main
      border-bottom-color: $color-main
