.c-teaser-mini
  margin-bottom: 35px
  @media screen and (min-width: $screen-sm-min)
    margin-bottom: 45px
  @media screen and (min-width: $screen-lg-min)
    margin-bottom: 75px
  a
    text-transform: capitalize
    +fluid-type(17px, 19px)

.c-teaser-mini__title
  +fluid-type(17px, 19px)
  line-height: 1.6
  font-weight: 700
  text-transform: uppercase
  margin: 15px 0 5px 0

.c-teaser-mini__txt
  +fluid-type(17px, 19px)
  line-height: 1.55
  margin-bottom: 5px
  @media screen and (min-width: $screen-sm-min)
    margin-bottom: 20px
