.c-title
  line-height: $size-line-height-header
  font-family: $font-header
  color: $color-headers
  font-weight: $font-weight-header
  margin-bottom: 0.5em
  margin-top: 1.5em
  +fluid-type(20px, 36px)
  text-align: left
  &:first-child
    margin-top: 0
  @media screen and (min-width: $screen-sm-min)
    margin-bottom: 1.05em

.c-title--xxsmall
  +fluid-type(14px, 18px)

.c-title--xsmall
  +fluid-type(17px, 21px)

.c-title--small
  +fluid-type(20px, 28px)
  font-weight: 700
  line-height: 1.5
  @media screen and (min-width: $screen-sm-min)
    margin-bottom: 0.9em

.c-title--medium
  +fluid-type(17px, 28px)
  line-height: $size-line-height

.c-title--large,
.u-modified-margin-bottom .b-expandable-text-in .c-title--large
  font-size: 20px
  line-height: 26px
  margin-bottom: 15px
  font-weight: 800
  @media (min-width: $screen-xs-min)
    margin-bottom: 15px
    font-size: 24px
    line-height: 32px
  @media (min-width: $screen-sm-min)
    margin-bottom: 25px
    font-size: 28px
    line-height: 38px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-bottom: 25px
    font-size: 36px
    line-height: 48px
  @media (min-width: $screen-lg-min)
    margin-bottom: 25px
    font-size: 36px
    line-height: 48px
  @media (min-width: $screen-xxl-min)
    margin-bottom: 25px
    font-size: 48px
    line-height: 60px
  @media (min-width: $screen-xxxl-min)
    font-size: 48px
    line-height: 60px
    margin-bottom: 50px

.c-title--xlarge
  +fluid-type(28px, 53px)

.c-title--align-center
  text-align: center

.c-title--color-main
  color: $color-main

.c-title--text-align-center
  @media (min-width: $screen-xs-min)
    text-align: center

.c-title--color-main
  color: $color-main

.c-title--no-margin-bottom
  margin-bottom: 0

.c-title--no-margin-top
  margin-top: 0

.c-title--padding-left-45
  @media (min-width: $screen-sm-min)
    padding-left: 45px

.c-title--max-width-80-percent,
.c-title--max-width-80
  @media (min-width: $screen-lg-min)
    max-width: 80%

.c-title__line
  display: block

.c-title--project-category
  font-size: 20px
  margin-bottom: 5px
  line-height: 30px
  font-weight: 800
  @media (min-width: $screen-xs-min)
    margin-bottom: 5px
    font-size: 22px
    line-height: 30px
  @media (min-width: $screen-sm-min)
    margin-top: 0px
    margin-bottom: 5px
    font-size: 28px
    line-height: 32px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-bottom: 15px
    font-size: 36px
    line-height: 38px
  @media (min-width: $screen-lg-min)
    margin-bottom: 15px
    font-size: 36px
    line-height: 38px
  @media (min-width: $screen-xxl-min)
    margin-top: 0px
    margin-bottom: 25px
    font-size: 48px
    line-height: 48px
