html
  font-family: $font-main
  color: $color-text
  line-height: $size-line-height
  font-weight: $font-weight-standard
  background: $color-site-background
  line-height: 26px
  font-size: 17px
  @media (min-width: $screen-xs-min)
    font-size: 17px
    line-height: 23px
  @media (min-width: $screen-sm-min)
    font-size: 17px
    line-height: 27px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 18px
    line-height: 26px
  @media (min-width: $screen-lg-min)
    font-size: 18px
    line-height: 26px
  @media (min-width: $screen-xxl-min)
    font-size: 24px
    line-height: 38px

@-moz-document url-prefix()
  body
    font-weight: lighter

body
  padding: 0
  margin: 0
  background: $color-site-background
  &.show-screen-size
    &:after
      position: fixed
      left: 50%
      bottom: 0px
      width: 160px
      background: #000
      color: #fff
      content: '[TINY] 0px-479px'
      text-align: center
      padding: 5px
      font-size: 12px
      z-index: 9999
      border-top-right-radius: 5px
      border-top-left-radius: 5px
      margin-left: -80px
      @media (min-width: $screen-xs-min)
        content: "[XS] 480px-767px"
      @media (min-width: $screen-sm-min)
        content: "[SM] 768px-991px"
      @media (min-width: $screen-md-min)
        content: "[MD] 992px-1024px"
      @media (min-width: $screen-lg-min)
        content: "[LG] 1025px-1199px"
      @media (min-width: $screen-xl-min)
        content: "[XL] 1200px-1280px"
      @media (min-width: $screen-xxl-min)
        content: "[XXL] 1281px-1680px"
      @media (min-width: $screen-xxxl-min)
        content: "[XXXL] 1681px-∞"
