input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
.input--standard
  border: 2px solid #a2a2a2
  appearance: none
  border-radius: 0
  width: 100%
  padding: .4em 0.5em
  font-weight: normal
  border-radius: 5px
  line-height: $size-line-height
  &:focus
    outline: 0
    box-shadow: inset 0 0 5px rgba(#000, 0.4)

input[type="checkbox"], input[type="radio"], .input--checkbox
  &:focus
    outline: 0
    box-shadow: 0 0 5px rgba($color-main, 0.9)

textarea,
.input--textarea
  height: auto

label
  font-weight: bold
