/**
 * Links
 */

a
  color: $color-link
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out
  text-decoration: none
  border-bottom: 1px solid $color-link
  &:hover
    color: $color-link-hover
    transition: all 0.2s ease-in-out
    text-decoration: none
    border-bottom-color: $color-link-hover

a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif]
  &:focus
    outline: none

.b-text-green-box__text-in a,
.b-teaser-large__text a,
.b-gallery-grid__text a,
.b-expandable-text__expand a,
.b-expandable-text__excerpt a,
.b-content-in-box__content a,
.cnt-cols__cnt a,
.link-in-text
  text-decoration: none
  position: relative
  margin-top: 0px
  font-size: 18px
  line-height: 20px
  border-bottom: 0
  @media (min-width: $screen-sm-min)
    font-size: 17px
    line-height: 19px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 18px
    line-height: 20px
  @media (min-width: $screen-lg-min)
    font-size: 18px
    line-height: 20px
  @media (min-width: $screen-xxl-min)
    font-size: 24px
    line-height: 25px
  &:hover
    &:after
      background: $color-main
  &:after
    content: ' '
    position: absolute
    left: 0
    bottom: 1px
    width: 100%
    height: 1px
    background: $color-text
    transition: all 0.2s ease-in-out
