.lg-outer .lg-thumb-outer
  border-top: 1px solid #e8e8e8

.lg-outer .lg-toogle-thumb
  border: 1px solid #e8e8e8
  border-bottom: 0

.admin-bar .lg-toolbar
  padding-top: 32px

.lg-toogle-thumb.lg-icon
  display: none

.lg-toolbar
  background: none

.lg-outer.lg-has-thumb .lg-img-wrap
  padding-top: 20px
  padding-bottom: 20px
  padding-left: 0px
  padding-right: 0px
  @media (min-width: $screen-sm-min)
    padding-top: 20px
    padding-bottom: 120px
    padding-left: 68px
    padding-right: 68px

.lg-outer .lg-img-wrap
  padding-top: 0px
  padding-bottom: 0px
  padding-left: 0px
  padding-right: 0px
  @media (min-width: $screen-sm-min)
    padding-top: 20px
    padding-bottom: 20px
    padding-left: 68px
    padding-right: 68px

.lg-object
  padding: 0

.lg-actions .lg-next, .lg-actions .lg-prev
  display: none
  @media (min-width: $screen-sm-min)
    display: block

.lg-hide-items .lg-toolbar
  opacity: 1
  transform: translate3d(0,0,0)
