@import '../../sass/base-settings'

.b-example
  padding-top: 50px
  padding-bottom: 50px
  background: #ccc
  margin-top: 20px
  margin-bottom: 20px
  @media (min-width: $screen-sm-min)
    margin-top: 40px
    margin-bottom: 40px

.b-example__box
  padding: 30px
  background: #fff
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
  border-radius: 5px
