<footer class="o-site-footer">
  <div class="o-wrap o-wrap--wide">
    <div class="o-site-footer__wrapper">
      <div class="o-site-footer__first">
        <div class="o-site-footer__address">
          Licht und Wärme
          <br>
          Elektrotechnik Burtscher GmbH<br>
          Kirchdorf 92, 6741 Raggal</div>
        <ul class="o-site-footer__number">
          <li class="o-site-footer__number-el">
            <a href="tel:+43555380099">T +43 (0) 5553 80099</a>
          </li>
          <li class="o-site-footer__number-el">
            <a href="mailto:office@lichtundwaerme.at">
              office@lichtundwaerme.at
            </a>
          </li>
        </ul>
        <div class="o-site-footer__opening-hr">
          <div class="o-site-footer__text">
            Öffnungszeiten:<br>
            Mo-Do: 8:00-12:00, 13:30-17:00<br>
            Fr: 8:00-12:00, 13:30-16:00</div>
        </div>
      </div>
      <div class="o-site-footer__second">
        <div class="menu-footer-menu-container">
          <ul id="menu-footer-menu" class="o-site-footer__second-menu">
            <li id="menu-item-1582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1582">
              <a href="#">Unternehmen</a>
            </li>
            <li id="menu-item-1583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1583">
              <a href="#">Planung &amp; Installation</a>
            </li>
            <li id="menu-item-1720" class="menu-item menu-item-type-taxonomy menu-item-object-referenzen_kategorien menu-item-1720">
              <a href="#">Lichttechnik</a>
            </li>
            <li id="menu-item-1587" class="menu-item menu-item-type-taxonomy menu-item-object-referenzen_kategorien menu-item-1587">
              <a href="#">Elektroinstallationen</a>
            </li>
            <li id="menu-item-1721" class="menu-item menu-item-type-taxonomy menu-item-object-referenzen_kategorien menu-item-1721">
              <a href="#">Photovoltaik</a>
            </li>
            <li id="menu-item-1586" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1586">
              <a href="#">Leuchtenshop</a>
            </li>
            <li id="menu-item-1585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1585">
              <a href="#">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="o-site-footer__third">
        <p>
          Ausgezeichneter<br>Lehrbetrieb 2019</p>
        <div class="o-site-footer__image">
          <img
            width="300"
            height="300"
            src="https://licht-und-waerme.webdesigntalents.dev/wp-content/uploads/2019/11/Ausgezeichneter-Lehrbetrieb.jpg"
            class="certificate__img"
            alt=""
            srcset="https://licht-und-waerme.webdesigntalents.dev/wp-content/uploads/2019/11/Ausgezeichneter-Lehrbetrieb.jpg 300w, https://licht-und-waerme.webdesigntalents.dev/wp-content/uploads/2019/11/Ausgezeichneter-Lehrbetrieb-150x150.jpg 150w, https://licht-und-waerme.webdesigntalents.dev/wp-content/uploads/2019/11/Ausgezeichneter-Lehrbetrieb-200x200.jpg 200w"
            sizes="(max-width: 300px) 100vw, 300px"></div>
      </div>
      <div class="o-site-footer__fourth">
        <div class="o-site-footer__txt-social">
          Folgen Sie Lichtund Wärme auf Social Media:</div>
        <div class="o-site-footer__icons">
          <a href="https://www.instagram.com/lichtundwaerme/" class="o-site-footer__icon" target="_blank">
            <img src="https://licht-und-waerme.webdesigntalents.dev/wp-content/uploads/2019/09/instagram.svg" class="socialmedia-icon__img" alt="">
          </a>
          <a href="https://www.facebook.com/lichtundwaerme/" class="o-site-footer__icon" target="_blank">
            <img src="https://licht-und-waerme.webdesigntalents.dev/wp-content/uploads/2019/09/facebook.svg" class="socialmedia-icon__img" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="o-site-footer-bottom">
  <div class="o-wrap o-wrap--wide">
    <div class="o-site-footer-bottom__wrapper">
      <div>
        <ul class="o-site-footer-bottom__menu">
          <li class="o-site-footer-bottom__menu-el">© 2019 LICHTUNDWÄRME</li>
        </ul>
        <ul id="menu-footer-menu-bottom" class="o-site-footer-bottom__menu">
          <li id="menu-item-1712" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1712">
            <a href="#">Datenschutz</a>
          </li>
          <li id="menu-item-1713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1713">
            <a href="#">Impressum</a>
          </li>
          <li id="menu-item-1731" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1731">
            <a target="_blank" rel="noopener noreferrer" href="https://licht-und-waerme.webdesigntalents.dev/wp-content/uploads/2019/12/AGB-Licht-und-Wärme-Elektrotechnik-Burtscher-GmbH.pdf">AGB</a>
          </li>
        </ul>
      </div>
      <a href="#top" class="o-scroll-to-top show">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 98 53">
          <path fill="none" stroke="#FFF" stroke-width="6" stroke-miterlimit="10" d="M3 50.682l46-46 46 46"></path>
        </svg>
      </a>
    </div>
  </div>
</footer>
