<header class="o-site-header">
  <div class="o-site-header__in">
    <div class="o-site-header__top">
      <div class="o-site-hader__wrap">
        <div class="o-site-hader__wrap-in">
          <div class="o-site-hader__bread">
            <p id="breadcrumbs"><span><span class="breadcrumb_last" aria-current="page">Home</span></span></p>
          </div>
          <div class="o-site-hader__info">
            <ul>
              <li class="o-site-hader__email">
                <a href="mailto:office@lichtundwaerme.at">EMAIL</a>
              </li>
              <li class="o-site-hader__phone">
                <a href="tel:+43555380099">T +43 (0) 5553 80099</a>
              </li>
            </ul>
          </div>
          <button class="toggle-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="o-site-header__bottom">
      <div class="o-site-hader__wrap">
        <div class="o-site-hader__wrap-in">
          <a href="https://licht-und-waerme.webdesigntalents.dev/" class="o-site-header__logo"></a>
        </div>
      </div>
    </div>
  </div>
</header>
