<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="{{ craft.app.request.getSegment(1) ?: 'home' }}">

  <div id="site-wrapper">
    <div id="site-canvas">

      {% include '_layouts/_header' %}

      <div id="content" class="site-content">
        {% block main %}{% endblock %}
      </div>

      {% include '_layouts/_footer' %}

      {% include '_layouts/_menu' %}

    </div> <!-- /#site-canvas -->
  </div> <!-- /#site-wrapper -->

  <script src="/assets/js/vendor/jquery.js" charset="utf-8"></script>
  <script src="/assets/js/vendor/plugins.js" charset="utf-8"></script>
  <script src="/assets/js/main.js" charset="utf-8"></script>
</body>
</html>
