<div id="site-menu">
  <div class="site-menu__wrapper">
    <div class="site-menu__primary">
      <ul id="menu-primary-menu" class="site-menu__left">
        <li id="menu-item-1701" class="menu-item menu-item-type-taxonomy menu-item-object-referenzen_kategorien menu-item-1701">
          <a href="#">Lichttechnik</a>
        </li>
        <li id="menu-item-1702" class="menu-item menu-item-type-taxonomy menu-item-object-referenzen_kategorien menu-item-1702">
          <a href="#">Elektroinstallationen</a>
        </li>
        <li id="menu-item-1715" class="menu-item menu-item-type-taxonomy menu-item-object-referenzen_kategorien menu-item-has-children menu-item-1715">
          <a href="#">Photovoltaik</a>
          <ul class="sub-menu">
            <li id="menu-item-1700" class="menu-item menu-item-type-taxonomy menu-item-object-referenzen_kategorien menu-item-1700">
              <a href="#">Referenzen</a>
            </li>
            <li id="menu-item-1606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1606">
              <a href="#">Wissenswertes</a>
            </li>
            <li id="menu-item-1608" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1608">
              <a href="#">Intelligente Lösungen</a>
            </li>
          </ul>
        </li>
        <li id="menu-item-2242" class="menu-item menu-item-type-taxonomy menu-item-object-referenzen_kategorien menu-item-2242">
          <a href="#">Infrarotheizungen</a>
        </li>
      </ul>
      <ul id="menu-secondary-menu" class="site-menu__right">
        <li id="menu-item-1706" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1706">
          <a href="#">Planung &amp; Installation</a>
        </li>
        <li id="menu-item-1707" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1707">
          <a href="#">Leuchtenshop</a>
        </li>
        <li id="menu-item-1817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1817">
          <a href="#">Aktuelles</a>
        </li>
        <li id="menu-item-1709" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1709">
          <a href="#">Unternehmen</a>
        </li>
        <li id="menu-item-1710" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1710">
          <a href="https://licht-und-waerme.webdesigntalents.dev/kontakt/">Kontakt</a>
        </li>
        <li id="menu-item-1711" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1711">
          <a href="#">Spendenprojekt Nepal</a>
        </li>
      </ul>
    </div>
    <div class="site-menu__info">
      <div class="site-menu__info-left">
        <p>
          Licht und Wärme
          <br>
          Elektrotechnik Burtscher GmbH<br>
          Kirchdorf 92, 6741 Raggal</p>
        <ul>
          <li>
            <a href="tel:+43555380099">T +43 (0) 5553 80099</a>
          </li>
          <li>
            <a href="fax:"></a>
          </li>
          <li>
            <a href="mailto:office@lichtundwaerme.at">office@lichtundwaerme.at</a>
          </li>
        </ul>
      </div>
      <div class="site-menu__info-right">
        <p>
          Öffnungszeiten:<br>
          Mo-Do: 8:00-12:00, 13:30-17:00<br>
          Fr: 8:00-12:00, 13:30-16:00</p>
        <p>
          Folgen Sie Lichtund Wärme auf Social Media:</p>
        <ul class="site-menu__info-right-icons">
          <li>
            <a href="#" class="o-site-footer__icon" target="_blank">
              <img src="https://licht-und-waerme.webdesigntalents.dev/wp-content/uploads/2019/09/instagram.svg" class="socialmedia-icon__img" alt="">
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/lichtundwaerme/" class="o-site-footer__icon" target="_blank">
              <img src="https://licht-und-waerme.webdesigntalents.dev/wp-content/uploads/2019/09/facebook.svg" class="socialmedia-icon__img" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
