.b-big-green-sentered-text
  font-size: 18px
  line-height: 24px
  text-align: left
  color: $color-main
  font-weight: 800
  margin-bottom: 50px
  margin-top: 50px
  @media (min-width: $screen-mini-min)
    font-size: 20px
    line-height: 28px
    text-align: center
  @media (min-width: $screen-sm-min)
    font-size: 22px
    line-height: 30px
    margin-bottom: 50px
    margin-top: 50px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 28px
    line-height: 40px
  @media (min-width: $screen-md-min)
    font-size: 28px
    line-height: 40px
    margin-bottom: 75px
    margin-top: 75px
  @media (min-width: $screen-xl-min)
    font-size: 36px
    line-height: 50px
    margin-bottom: 125px
    margin-top: 125px

.b-big-green-sentered-text__txt
  padding-left: 2%
  padding-right: 2%
  @media (min-width: $screen-mini-min)
    padding-left: 5%
    padding-right: 5%
  @media (min-width: $screen-sm-min)
    text-align: center
