.b-content-in-box
  margin-bottom: 20px
  @media screen and (min-width: $screen-sm-min)
    margin-bottom: 75px

.b-content-in-box--without-dots .row [class^="col"]:nth-child(even) .b-content-in-box__box
    @media (min-width: $screen-xs-min)
      padding-left: 25px

.b-content-in-box--with-dots
  [class^="col"]
    @media (min-width: $screen-sm-min)
      padding-left: 15px
      padding-right: 15px
    @media (min-width: $screen-xxl-min)
      padding-left: 30px
      padding-right: 30px
    .row
      @media (min-width: $screen-sm-min)
        margin-left: -15px
        margin-right: -15px
      @media (min-width: $screen-xxl-min)
        margin-left: -30px
        margin-right: -30px

  .b-content-in-box__content
    padding-left: 22px
    padding-right: 22px
    @media (min-width: $screen-sm-min)
      padding-left: 22px
      padding-right: 22px
    @media (min-width: $screen-md-min)
      padding-left: 50px
      padding-right: 50px
  .b-content-in-box__wrapper
    padding-top: 20px
    padding-bottom: 0px
    @media (min-width: $screen-sm-min)
      padding-bottom: 10px
      padding-top: 25px
    @media screen and (min-width: $screen-md-min)
      padding-top: 50px
      padding-bottom: 30px
    .c-title
      margin-bottom: 0.9em
      padding-left: 0
      padding-right: 0
      @media (min-width: $screen-md-min)
        margin-bottom: 0.7em
      @media (min-width: $screen-xxl-min)
        margin-bottom: 0.9em
  .b-content-in-box__box
    margin-bottom: 20px
    padding-left: 0
    padding-right: 0
    @media screen and (min-width: $screen-md-min)
      margin-bottom: 35px
    @media (min-width: $screen-xxl-min)
      margin-bottom: 40px
    @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
      margin-bottom: 35px
  .b-content-in-box__title
    margin-top: 0px
    font-weight: 700
    margin-bottom: 10px
    font-size: 16px
    line-height: 24px
    @media only screen and (max-device-width: $screen-xs-max) and (min-device-width: $screen-xs-min) and (orientation: landscape)
      font-size: 16px
      line-height: 24px
    @media (min-width: $screen-sm-min)
      font-size: 16px
      line-height: 24px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      font-size: 16px
      line-height: 24px
    @media (min-width: $screen-md-min)
      font-size: 18px
      line-height: 26px
    @media (min-width: $screen-xxl-min)
      font-size: 20px
      line-height: 32px
    @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
      font-size: 21px
    &::after
      content: ' '
      position: absolute
      left: -12px
      top: 0.6em
      width: 5px
      height: 5px
      background: $color-text
      border-radius: 100%
      @media (min-width: $screen-sm-min)
        top: 0.6em
        left: -13px
        top: 0.5em
        width: 7px
        height: 7px

.b-content-in-box__wrapper
  background-color: #e2f1e4
  padding-top: 25px
  padding-bottom: 0px
  @media screen and (min-width: $screen-sm-min)
    padding-top: 25px
    padding-bottom: 25px
  @media (min-width: $screen-xxl-min)
    padding-top: 45px
    padding-bottom: 45px
  .c-title
    margin-bottom: 1.1em
    text-align: left
    padding: 0 10px
    @media (min-width: $screen-xs-min)
      padding: 0 22px
    @media (min-width: $screen-xs-min)
      text-align: center
    @media screen and (min-width: $screen-sm-min)
      padding: 0 45px

.b-content-in-box__box
  margin-bottom: 35px
  padding: 0 10px
  @media (min-width: $screen-xs-min)
    padding: 0 15px
  @media screen and (min-width: $screen-sm-min)
    padding: 0 25px
    margin-bottom: 35px
  @media (min-width: $screen-md-min)
    padding: 0 45px

.b-content-in-box__title
  font-size: 18px
  line-height: 28px
  font-weight: 700
  margin-bottom: 0
  position: relative
  @media screen and (min-width: $screen-sm-min)
    margin-bottom: 0
    font-size: 17px
    line-height: 27px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 18px
    line-height: 26px
  @media (min-width: $screen-lg-min)
    font-size: 18px
    line-height: 26px
  @media (min-width: $screen-xxl-min)
    font-size: 24px
    line-height: 38px

.b-content-in-box__txt
  p
    margin-bottom: 0.5em
    &:last-child
      margin-bottom: 0

.b-content-in-box__description
  @media (min-width: $screen-xs-min)
    text-align: center
  @media (min-width: $screen-sm-min)

    max-width: 90%
    margin-left: auto
    margin-right: auto
    margin-bottom: 2.5em
