.b-expandable-text__subtitle
  margin-bottom: 10px

.b-expandable-text__excerpt, .b-expandable-text__expand
  p, div
    margin-bottom: 1.75em
    &:last-child
      margin-bottom: 1.7em
  ul
    margin-top: 1.9em
    margin-bottom: 1.9em
    padding-left: 1em

.b-expandable-text__excerpt
  img
    margin-top: 20px

.b-expandable-text__excerpt,
.b-expandable-text__expand
  p:last-child,
  ul:last-child
    margin-bottom: 0
  ul:first-child
    margin-top: 0

.tax-referenzen_kategorien .show-more
  top: 0

.hide
  display: none

.b-expandable-text__expand
  display: none

.show-more--active
  top: 0

.show-more--active .show
  display: none

.show-more--active .hide
  display: block

.b-expandable-text__btn.c-btn.show-more--active
  margin-top: 25px
  @media (min-width: $screen-sm-min)
    margin-top: 50px
  @media (min-width: $screen-xl-min)
    margin-top: 65px
  @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
    margin-top: 50px
