.b-gallery-grid__wrapper
  display: flex
  flex-flow: column
  padding-left: 10px
  padding-right: 10px
  @media screen and (min-width: $screen-xs-min)
    flex-flow: row
    padding-left: 0
    padding-right: 0

.b-gallery-grid__left
  order: 2
  @media screen and (min-width: $screen-xs-min)
    order: 1
    flex: 0 0 31.2%
    margin-right: 15px
  @media (min-width: $screen-sm-min)
    flex: 0 0 30.1%
    margin-right: 35px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-right: 45px
  @media (min-width: $screen-md-min)
    margin-right: 45px

.b-gallery-grid__right
  order: 1
  flex: 0 0 66.4%
  @media screen and (min-width: $screen-xs-min)
    order: 2
    flex: 1 1 auto

.b-gallery-grid__top-txt
  margin-bottom: 11px
  @media screen and (min-width: $screen-sm-min)
    margin-bottom: 20px
    margin-top: -5px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-top: -4px
    margin-bottom: 45px
  @media (min-width: $screen-md-min)
    margin-top: -4px
    margin-bottom: 45px
  .c-title--project-category
    @media (min-width: $screen-sm-min)
      margin-top: 4px
      margin-bottom: 20px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      margin-top: 4px
      margin-bottom: 32px
    @media (min-width: $screen-md-min)
      margin-top: 4px
      margin-bottom: 32px

.b-gallery-grid__text
  p:last-child
    margin-bottom: 0

.b-gallery-grid__top-txt
  .c-btn
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      margin-top: 17px
    @media (min-width: $screen-md-min)
      margin-top: 17px

.b-gallery-grid__bottom-img
  @media screen and (min-width: $screen-xs-min)
    display: flex
    justify-content: space-between
  .b-gallery-grid__image-first
    margin-bottom: 25px
    @media screen and (min-width: $screen-xs-min)
      margin-bottom: 0
      flex: 0 1 50%
      margin-right: 7px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      margin-right: 22.5px
    @media (min-width: $screen-md-min)
      margin-right: 22.5px
  .b-gallery-grid__image-second
    flex: 0 1 50%
    @media screen and (min-width: $screen-xs-min)
      margin-bottom: 0
      margin-left: 8px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      margin-left: 22.5px
    @media (min-width: $screen-md-min)
      margin-left: 22.5px

.b-gallery-grid__image-zero
  margin-bottom: 25px
  @media (min-width: $screen-xs-min)
    display: none

.b-gallery-grid__image
  display: none
  @media (min-width: $screen-xs-min)
    display: block
  @media (min-width: $screen-sm-min)
    margin-top: -2px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-top: 0px
