.b-gallery__el
  position: relative
  &:after
    content: ''
    position: absolute
    bottom: 15px
    right: 20px
    height: 29px
    width: 37px
    background-image: url('../img/icons/icon-gallery.svg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center


.lg-actions
  .lg-prev
    background-image: url('../img/icons/prev.svg')
    &:after
      display: none
  .lg-next
    background-image: url('../img/icons/next.svg')
    &:before
      display: none
  .lg-prev, .lg-next
    background-color: transparent !important
    background-repeat: no-repeat
    background-size: 24px
    height: 48px
    width: 30px
    padding: 0
    background-position: center
    opacity: 0.5
    transition: opacity 0.3s
    top: calc(50% - 24px)
    &:hover
      opacity: 1

.lg-object
  padding: 0 5%
  @media screen and (max-width: $screen-sm-max)
    padding: 0 !important

.lg-toolbar
  .lg-close
    background-image: url('../img/icons/close.svg')
    opacity: 0.8
    background-size: 37px
    background-repeat: no-repeat
    background-position: center
    transition: opacity 0.3s
    padding: 0
    margin-top: 20px
    width: 68px
    &:after
      display: none
    &:hover
      opacity: 1
