.b-grid-txt-img
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-top: 25px
  @media (min-width: $screen-sm-min)
    margin-top: 25px
  @media (min-width: $screen-xxl-min)
    margin-top: 50px

.u-standard-block-spacing.b-grid-txt-img
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-bottom: 75px

.b-grid-txt-img__in
  padding-left: 10px
  padding-right: 10px
  @media (min-width: $screen-xs-min)
    padding-left: 0
    padding-right: 0

.b-grid-txt-img__el
  margin-bottom: 2em
  +fluid-type(18px, 19px)
  @media screen and (min-width: $screen-sm-min)
    +column(1/3, $gutter: 2)
    margin-bottom: 0
  .c-btn
    margin-top: 3px

.b-grid-txt-img__img
  margin-bottom: 10px
  @media (min-width: $screen-md-min)
    margin-bottom: 15px

.b-grid-txt-img__el .b-grid-txt-img__header
  margin-bottom: 0
  font-weight: 700
  text-transform: uppercase
  font-size: 16px
  line-height: 26px
  @media (min-width: $screen-xs-min)
    font-size: 15px
    line-height: 23px
  @media (min-width: $screen-sm-min)
    font-size: 15px
    line-height: 25px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 16px
    line-height: 26px
  @media (min-width: $screen-lg-min)
    font-size: 16px
    line-height: 26px
  @media (min-width: $screen-xxl-min)
    font-size: 19px
    line-height: 29px

.b-grid-txt-img__text
  line-height: 23px
  margin-top: 0px
  margin-bottom: 5px
  @media (min-width: $screen-sm-min)
    line-height: 24px
  @media (min-width: $screen-md-min)
    margin-top: 5px
    margin-bottom: 20px
