.b-img-in-wrap
  margin-top: 25px
  margin-bottom: 25px
  @media (min-width: $screen-xs-min)
    margin-top: 35px
    margin-bottom: 35px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-top: 25px
    margin-bottom: 25px
  @media (min-width: $screen-lg-min)
    margin-top: 25px
    margin-bottom: 25px
  @media (min-width: $screen-xxl-min)
    margin-top: 45px
    margin-bottom: 45px
  .u-wrap-additional-padding
    padding-left: 10px
    padding-right: 10px
    @media (min-width: $screen-xs-min)
      padding-left: 0
      padding-right: 0
.b-img-in-wrap--extra-wide
  margin-bottom: 35px
  margin-top: 0
  @media (min-width: $screen-sm-min)
    margin-bottom: 50px
    margin-top: 0
  @media (min-width: $screen-md-min)
    margin-bottom: 50px
    margin-top: 0
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-bottom: 50px
    margin-top: 0
  @media (min-width: $screen-lg-min)
    margin-bottom: 75px
    margin-top: 0
  @media (min-width: $screen-xxl-min)
    margin-bottom: 125px
    margin-top: 0
