.o-wrap--default .b-large-header__wrap
  padding-left: 10px
  padding-right: 10px
  @media (min-width: $screen-xs-min)
    padding-left: 15px
    padding-right: 15px
  @media (min-width: $screen-sm-min)
    padding-left: 25px
    padding-right: 25px
  @media (min-width: $screen-md-min)
    padding-left: 45px
    padding-right: 45px
.b-large-header--plus-left-padding
  @media (min-width: $screen-sm-min)
    padding-left: 45px
    padding-right: 45px
