.b-latest-news__wrapper
  .col-sm-4
    margin-bottom: 50px
    @media screen and (min-width: $screen-md-min)
      margin-bottom: 60px
    @media screen and (min-width: $screen-lg-min)
      margin-bottom: 70px
    @media screen and (min-width: $screen-xl-min)
      padding: 0 20px 0 0
      margin-bottom: 75px
  .c-title
    font-size: 19px
    margin-bottom: 15px
    @media screen and (min-width: $screen-xs-min)
      +fluid-type(20px, 48px)
      margin-bottom: 25px
    @media screen and (min-width: $screen-lg-min)
      margin-bottom: 50px

.b-latest-news__image
  margin-bottom: 15px
  img
    min-width: 100%

.b-latest-news__text
  +fluid-type(16px, 19px)
  line-height: 1.6
  .b-latest-news__text-link
    color: $color-main
    text-transform: lowercase
    text-decoration: none
    +fluid-type(15px, 19px)
