.b-showcase
  height: 65vh
  color: #fff
  display: flex
  align-items: flex-end
  justify-content: flex-start
  z-index: 100
  position: relative
  margin-bottom: 25px
  @media (min-width: $screen-xs-min)
    margin-bottom: 35px
  @media screen and (min-width: $screen-sm-min)
    min-height: 320px
    margin-bottom: 50px
    height: 75vh
  @media only screen and (max-device-width: $screen-sm-max) and (orientation: landscape)
    height: 100vh
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    height: 100vh
  @media (min-width: $screen-lg-min)
    height: 100vh
    margin-bottom: 75px
  @media (min-width: $screen-xxl-min)
    height: 100vh
    margin-bottom: 125px
  @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
    height: 100vh

.b-showcase__bg-img
  +object-fit(cover)
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  opacity: 0
  transition: all 0.2s ease-in-out
  .launch-first-animation &,
  .b-showcase--no-loader &
    opacity: 1

.b-showcase__wrap
  padding-left: 6%
  padding-right: 6%
  margin: 0 auto
  width: 100%
  @media (min-width: $screen-sm-min)
    padding-left: 6%
    padding-right: 6%
  @media (min-width: $screen-md-min)
    padding-left: 5%
    padding-right: 5%

.b-showcase__wrap-in
  max-width: 1920px
  margin: 0 auto

.b-showcase__cnt
  font-weight: 900
  line-height: 1.15
  margin-bottom: 35px
  position: relative
  z-index: 20
  font-size: 24px
  line-height: 32px
  @media (min-width: $screen-xs-min)
    font-size: 34px
    line-height: 42px
    margin-bottom: 75px
  @media only screen and (max-device-width: $screen-xs-max) and (min-device-width: $screen-xs-min) and (orientation: landscape)
    margin-bottom: 20px
  @media (min-width: $screen-sm-min)
    margin-bottom: 9vh
    padding: 0
  @media (min-width: $screen-md-min)
    margin-bottom: 11.7vh
  @media (min-width: $screen-lg-min)
    font-size: 84px
    line-height: 96px
  @media (min-width: $screen-xl-min)
    margin-bottom: 11.5vh
  @media (min-width: $screen-xxl-min)
    margin-bottom: 9vh

.b-showcase__header
  margin-bottom: 0
  font-weight: 900
  transform: translateY(20px)
  opacity: 0
  transition: all 0.6s 0.6s ease-in-out
  text-transform: uppercase
  color: #fff
  font-size: 24px
  line-height: 32px
  @media (min-width: $screen-xs-min)
    font-size: 34px
    line-height: 42px
  @media (min-width: $screen-sm-min)
    font-size: 48px
    line-height: 60px
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (min-device-width: 1024px) and (orientation: portrait)
    font-size: 60px
    line-height: 72px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 60px
    line-height: 72px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape) and (max-device-height: 767px)
    font-size: 34px
    line-height: 44px
  @media (min-width: $screen-lg-min)
    font-size: 60px
    line-height: 72px
    max-width: 90%
  @media (min-width: $screen-xxl-min)
    font-size: 76px
    line-height: 86px
    max-width: 90%
  @media (min-width: $screen-xxxl-min)
    font-size: 84px
    line-height: 96px
    max-width: 75%

  .launch-first-animation &,
  .b-showcase--no-loader &
    transform: translateY(0)
    opacity: 1

.b-showcase--small
  margin-bottom: 25px
  height: 65vh
  @media screen and (min-width: $screen-sm-min)
    height: 75vh
  @media only screen and (max-device-width: $screen-sm-max) and (orientation: landscape)
    height: 100vh
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-bottom: 50px
    height: 75vh
  @media (min-width: $screen-lg-min)
    margin-bottom: 50px
    height: 75vh
  @media (min-width: $screen-xxl-min)
    margin-bottom: 75px
  @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
    height: 75vh

  .b-showcase__cnt
    @media (min-width: $screen-sm-min)
      margin-bottom: 8.9vh

.page-kontakt .b-showcase--small
  margin-bottom: 25px
  @media (min-width: $screen-xs-min)
    margin-bottom: 35px
  @media (min-width: $screen-sm-min)
    margin-bottom: 50px
  @media (min-width: $screen-lg-min)
    margin-bottom: 75px
  @media (min-width: $screen-xxl-min)
    margin-bottom: 125px


.b-showcase--slider
  background-image: none
  .b-showcase__header
    @media (min-width: $screen-md-min)
      max-width: 90%
    @media (min-width: $screen-xl-min)
      max-width: 81%

.b-showcase__el, .b-showcase__wrapper
  width: 100%

.b-showcase__el
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  display: flex
  align-items: flex-end
  justify-content: flex-start

.swiper-pagination-bullets
  z-index: 999

.swiper-pagination-bullet
  height: 1em
  width: 1em
  box-shadow: 0 0 3px rgba(51,51,51,0.4)
  background-color: rgba(255,255,255,0.4)
  opacity: 1
  height: 14px
  width: 14px
  margin: 0 5px .5em !important

.swiper-pagination-bullet-active
  background: #fff

.swiper-button-next
  text-indent: -9999999px
  margin-right: 15px
  transition: .3s
  display: none
  @media (min-width: $screen-sm-min)
    height: 48px
    width: 26px
    background-size: cover
    background-image: url('../img/icons/arrow-slider-right.svg')
    display: block
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    display: none
  &:hover
    transform: translateX(5px)
  &:focus
    outline: none
.swiper-button-prev
  text-indent: -9999999px
  margin-left: 15px
  transition: .3s
  display: none
  @media (min-width: $screen-sm-min)
    height: 48px
    width: 26px
    background-size: cover
    background-image: url('../img/icons/arrow-slider-left.svg')
    display: block
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    display: none
  &:hover
    transform: translateX(-5px)
  &:focus
    outline: none

.b-showcase__overlay
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 10
  display: none
  .launch-first-animation &,
  .b-showcase--no-loader &
    display: block

@keyframes lds-rolling
  0%
    transform: translate(-50%, -50%) rotate(0deg)
  100%
    transform: translate(-50%, -50%) rotate(360deg)

.lds-rolling
  width: 32px !important
  height: 32px !important
  transform: translate(-16px, -16px) scale(0.16) translate(16px, 16px)
  position: absolute
  left: 50%
  top: 50%
  transition: all 0.2s ease-in-out
  .launch-first-animation &,
  .b-showcase--no-loader &
    opacity: 0

.lds-rolling div,
.lds-rolling div:after
  position: absolute
  width: 160px
  height: 160px
  border: 20px solid #c2c2c2
  border-top-color: transparent
  border-radius: 50%

.lds-rolling div
  animation: lds-rolling 1.3s linear infinite
  top: 100px
  left: 100px

.lds-rolling div:after
  transform: rotate(90deg)

.b-showcase--slider
  .b-showcase__header
    margin-bottom: 35px
    @media (min-width: $screen-md-min)
      margin-bottom: 0

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
  bottom: -4px
  @media (min-width: $screen-sm-min)
    bottom: 5px
  @media (min-width: $screen-md-min)
    bottom: 10px
