.b-teaser-large
  overflow: hidden
  .c-title
    margin-top: 0

.b-teaser-large__wrapper
  background-color: #f1f1f1
  padding: 20px 10px 10px
  @media screen and (min-width: $screen-xs-min)
    display: flex
    padding-top: 30px
    padding-bottom: 30px
    padding-left: 0
    padding-right: 0
  @media (min-width: $screen-sm-min)
    padding-top: 40px
    padding-bottom: 40px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    padding-top: 50px
    padding-bottom: 50px
  @media (min-width: $screen-lg-min)
    padding-top: 50px
    padding-bottom: 50px
  @media screen and (min-width: $screen-xxxl-min)
    padding-top: 90px
    padding-bottom: 90px

.b-teaser-large__count
  font-weight: 900
  font-size: 36px
  line-height: 44px
  margin-bottom: 15px
  @media (min-width: $screen-xs-min)
    margin-bottom: 15px
    font-size: 54px
    line-height: 54px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-bottom: 25px
    font-size: 84px
    line-height: 84px
  @media (min-width: $screen-lg-min)
    margin-bottom: 25px
    font-size: 84px
    line-height: 84px
  @media (min-width: $screen-xxl-min)
    font-size: 120px
    line-height: 120px
    margin-bottom: 50px

.b-teaser-large__text
  p:last-child
    margin-bottom: 0

.b-teaser-large__number
  +fluid-type(36px, 120px)
  line-height: 1
  font-weight: 900
  margin-bottom: 15px
  @media screen and (min-width: $screen-sm-min)
    margin-bottom: 25px
  @media screen and (min-width: $screen-md-min)
    margin-bottom: 35px
  @media screen and (min-width: $screen-xl-min)
    margin-bottom: 50px

.b-teaser-large__left
  align-self: center
  @media screen and (min-width: $screen-xs-min)
    flex: 0 0 50%
    max-width: 50%

.b-teaser-large__right
  margin-top: 23px
  @media screen and (min-width: $screen-xs-min)
    margin-top: 0
    flex: 0 0 50%
    max-width: 50%
    align-self: center
  .b-teaser-large__image
    img
      min-width: 100%
      @media (min-width: $screen-xs-min)
        max-width: none
        width: 50vw
        position: relative

.b-teaser-large--standard
  .b-teaser-large__left-in
    @media (min-width: $screen-xs-min)
      padding-left: 15px
      padding-right: 10px
    @media (min-width: $screen-sm-min)
      padding-left: 25px
      padding-right: 25px
    @media (min-width: $screen-md-min)
      padding-left: 45px
      padding-right: 45px

.b-teaser-large--reversed
  .b-teaser-large__wrapper
    flex-direction: row-reverse
  .b-teaser-large__left-in
    @media (min-width: $screen-xs-min)
      padding-left: 15px
      padding-right: 15px
    @media (min-width: $screen-sm-min)
      padding-left: 25px
      padding-right: 25px
    @media (min-width: $screen-md-min)
      padding-left: 45px
      padding-right: 45px
  .b-teaser-large__image img
    @media (min-width: $screen-xs-min)
      margin-left: -6.5%
    @media (min-width: 1466px)
      margin-left: calc(-50vw + 691px)
