.b-teaser-horizontal
  margin-bottom: 50px

.b-teaser-horizontal__wrapper
  @media screen and (min-width: $screen-sm-min)
    display: flex
    overflow: hidden

.b-teaser-horizontal__left
  background-color: #e2f1e4
  flex: 0 0 49%
  padding: 25px 10px
  @media screen and (min-width: $screen-xs-min)
    padding: 25px
  @media screen and (min-width: $screen-md-min)
    padding: 45px
  .b-teaser-horizontal__title
    font-weight: 700
    margin-bottom: 10px
    font-size: 17px
    line-height: 25px
    @media (min-width: $screen-xs-min)
      line-height: 28px
      font-size: 18px
    @media (min-width: $screen-sm-min)
      font-size: 18px
      line-height: 26px
    @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
      font-size: 20px
      line-height: 28px
    @media (min-width: $screen-md-min)
      font-size: 20px
      line-height: 28px
    @media (min-width: $screen-xxl-min)
      font-size: 24px
      line-height: 34px
  .b-teaser-horizontal__txt
    p
      margin-bottom: 8px
    p:last-child
      margin-bottom: 0

.b-teaser-horizontal__right
    background-repeat: no-repeat
    background-size: cover
    height: 250px
    display: block
    @media screen and (min-width: 430px)
      height: 280px
    @media screen and (min-width: $screen-sm-min)
      background-position: 0
      flex: 0 0 50%
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      height: auto
