.c-team-teaser
  margin-bottom: 35px
  @media (min-width: $screen-xs-min)
    margin-bottom: 50px
  @media (min-width: $screen-md-min)
    margin-bottom: 75px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    margin-bottom: 75px

.c-team-teaser__wrapper
  padding-left: 10px
  padding-right: 10px
  @media (min-width: $screen-xs-min)
    padding-left: 0
    padding-right: 0

.c-team-teaser__img
  margin-bottom: 10px
  @media (min-width: $screen-md-min)
    margin-bottom: 15px

.c-team-teaser__cnt
  ul
    list-style: none
    padding: 0
    margin: 0

.c-team-teaser__name
  font-size: 16px
  line-height: 26px
  font-weight: 700
  text-transform: uppercase
  @media (min-width: $screen-xs-min)
    font-size: 15px
    line-height: 23px
  @media (min-width: $screen-sm-min)
    font-size: 15px
    line-height: 25px
  @media (min-width: $screen-md-min)
    font-size: 16px
    line-height: 26px
  @media only screen and (max-device-width: $screen-md-max) and (min-device-width: $screen-sm-min) and (orientation: landscape)
    font-size: 16px
    line-height: 26px
  @media (min-width: $screen-xxl-min)
    font-size: 19px
    line-height: 29px
