.b-text-green-box
  @media (min-width: $screen-lg-min) and (max-width: $screen-xl-max)
    padding-top: 35px

.b-text-green-box__wrapper
  @media screen and (min-width: $screen-sm-min)
    display: flex
    justify-content: space-between

.b-text-green-box__text
  margin-bottom: 25px
  @media screen and (min-width: $screen-sm-min)
    flex: 1 1 auto
    margin-top: 0
    margin-bottom: 0
    padding: 0
    display: flex
    align-items: center
  @media screen and (min-width: $screen-md-min)
    flex: 1 1 auto
    padding: 0
    padding-top: 25px
    padding-bottom: 25px
  @media (min-width: $screen-xxl-min)
    padding-top: 45px
    padding-bottom: 45px
  p:last-child
    margin-bottom: 0

.b-text-green-box__text-in
  padding-left: 10px
  padding-right: 10px
  @media (min-width: $screen-xs-min)
    padding-left: 15px
    padding-right: 15px
  @media (min-width: $screen-sm-min)
    padding-left: 25px
    padding-right: 25px
  @media (min-width: $screen-md-min)
    padding-right: 45px
    padding-left: 45px

.b-text-green-box__right
  flex: 0 0 50%
