/**
  * Font Face
  * Use local fonts to avoid GDPR problems and improve performance
  * Google fonts can be found here: https://google-webfonts-helper.herokuapp.com/fonts
  * Remember to add font-display: swap to generate FOUT
 */

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: local('Roboto Light'), local('Roboto-Light'), url('/wp-content/themes/licht_und_waerme/assets/fonts/roboto-v16-latin-300.woff2') format('woff2'), url('/wp-content/themes/licht_und_waerme/assets/fonts/roboto-v16-latin-300.woff') format('woff')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Roboto'), local('Roboto-Regular'), url('/wp-content/themes/licht_und_waerme/assets/fonts/roboto-v16-latin-regular.woff2') format('woff2'), url('/wp-content/themes/licht_und_waerme/assets/fonts/roboto-v16-latin-regular.woff') format('woff')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: local('Roboto Bold'), local('Roboto-Bold'), url('/wp-content/themes/licht_und_waerme/assets/fonts/roboto-v16-latin-700.woff2') format('woff2'), url('/wp-content/themes/licht_und_waerme/assets/fonts/roboto-v16-latin-700.woff') format('woff')
